.theme-light {
  --inline-code: var(--h1-color);
}

.theme-dark {
  --inline-code: var(--h1-color);
}

pre {
  background-color: #181c20 !important;

  code {
    background: none !important;
  }
}

pre[class*="language-"] {
  padding: 1.4rem !important;
  position: relative;
  border-radius: 8px !important;

  code {
    padding: 0 !important;
    font-size: 1rem !important;
    line-height: 1.8rem;
    border-radius: 0 !important;
  }

  .copy-code-button {
    letter-spacing: 3px;
    padding: 0 !important;
    padding-left: 5px !important;
    border-radius: 5px !important;
    width: 50px;
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: var(--file-item-bg);
    transition: var(--transition);

    &:hover {
      box-shadow: var(--shadow);
      transition: var(--transition);
      background-color: var(--file-item-selected-bg);
      color: #ddd;
      filter: var(--hover);
    }
  }

  &::before {
    content: "未知语言";
    font-family: var(--font-monospace);
    font-weight: bold;
    font-size: .8rem;
    position: absolute;
    letter-spacing: 2px;
    text-align: right;
    right: 60px;
    top: 9px;
    color: #eee;
  }
}

// }

$language: c,
properties,
python,
nginx,
css,
javascript,
js,
jsp,
php,
lua,
shell,
powershell,
flow,
sequence,
sql,
yaml,
yml,
ini,
xml,
cs,
cpp,
java,
html,
txt,
md,
bat,
json,
groovy,
scss,
bash,
cmd,
latex;

@each $lan in $language {
  pre[class~='language-#{$lan}']::before {
    $t: to-upper-case($string: $lan);
    content: quote($t);
  }
}

/*===== 语法高亮 =====*/
:root {
  --red: #ff7070;
  --orange: #ff9f31;
  --yellow: #ffd080;
  --green: #a3e6a1;
  --green-dark: #6fcc74;
  --cyan: #B1CBE8;
  --blue: #6fa9ff;
  --purple: #B8A4FF;

  //底色
  --color-basic: var(--yellow);
  //xml标签，选择器
  --color-selector: var(--red);
  //数字
  --color-number: var(--green);
  //加减法、括号
  --color-operator: var(--cyan);
  //属性、类名
  --color-property: var(--orange);
  //字符串
  --color-string: var(--green-dark);
  //@metadata、单位
  --color-annotation: var(--blue);
  //注释
  --color-comment: #888;
  //关键字
  --color-important: var(--purple);
  //方法
  --color-function: var(--blue);
}

//==预览==
// .markdown-preview-section,
// .reveal {
pre {
  &.language-css code {
    color: var(--color-string);
  }

  code {

    &,
    &.url {
      color: var(--color-basic) !important;
    }

    .token {

      &.number {
        color: var(--color-number) !important;
      }

      &.selector,
      &.tag {
        color: var(--color-selector) !important;
      }

      &.punctuation,
      &.operator {
        color: var(--color-operator) !important;
      }

      &.property,
      &.attr-name,
      &.class-name {
        color: var(--color-property) !important;
      }

      &.string,
      &.important,
      &.attr-value {
        color: var(--color-string) !important;
      }

      &.annotation.punctuation,
      &.annotation.punctuation,
      &.unit {
        color: var(--color-annotation) !important;
      }

      &.doctype *,
      &.comment,
      &.comment * {
        color: var(--color-comment) !important;
      }

      // yml
      &.atrule,
      &.variable,
      &.boolean,
      &.keyword {
        color: var(--color-important) !important;
      }

      &.function {
        color: var(--color-function) !important;
      }
    }
  }
}

// }

//==编辑==
.cm-number {
  color: #40c546 !important;
}

//xml标签
.cm-tag {
  color: var(--color-selector) !important;
}

//符号
.cm-operator {
  color: #3787ff !important;
}

.cm-def,
.cm-type,
.cm-attribute {
  color: #f18810 !important;
}

.cm-string {
  color: var(--color-string) !important;
}

.cm-comment {
  color: #888 !important;
}

.cm-keyword {
  color: #987bff !important;
}


//行内代码
.markdown-preview-view code,
.cm-hmd-codeblock.cm-formatting {
  color: var(--inline-code);
}

.cm-inline-code {
  color: var(--inline-code) !important;

  &.cm-header {
    color: var(--inline-code) !important;
  }
}