@charset "UTF-8";
.theme-light {
  --inline-code: var(--h1-color);
}

.theme-dark {
  --inline-code: var(--h1-color);
}

code {
  font-family: var(--font-monospace);
  background-color: var(--background-primary-alt);
  border-radius: 4px;
  font-size: 0.85em;
  line-height: 1.8rem !important;
  color: var(--inline-code);
}

pre {
  background-color: #181c20 !important;
}
pre code {
  background-color: unset !important;
}

pre[class*=language-] {
  padding: 0.4rem !important;
  padding-top: 0.8rem !important;
  position: relative;
  border-radius: 8px !important;
}
pre[class*=language-]:hover button.copy-code-button {
  transition: var(--transition);
  opacity: 1 !important;
}
pre[class*=language-]::before {
  content: "未知语言";
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  letter-spacing: 2px;
  text-align: right;
  right: 60px;
  top: 10px;
  color: #eee;
}

body .app-container .copy-code-button {
  letter-spacing: 3px;
  padding: 0 !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
  width: 50px;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #eee;
  opacity: 0 !important;
  background-color: transparent !important;
  display: inline-block !important;
  transition: var(--transition);
}
body .app-container .copy-code-button:hover {
  box-shadow: var(--shadow);
  transition: var(--transition);
  background-color: var(--file-item-bg) !important;
  color: #111;
  filter: var(--hover);
}

pre[class~=language-c]::before {
  content: "C";
}

pre[class~=language-properties]::before {
  content: "PROPERTIES";
}

pre[class~=language-python]::before {
  content: "PYTHON";
}

pre[class~=language-nginx]::before {
  content: "NGINX";
}

pre[class~=language-css]::before {
  content: "CSS";
}

pre[class~=language-javascript]::before {
  content: "JAVASCRIPT";
}

pre[class~=language-js]::before {
  content: "JS";
}

pre[class~=language-jsp]::before {
  content: "JSP";
}

pre[class~=language-php]::before {
  content: "PHP";
}

pre[class~=language-lua]::before {
  content: "LUA";
}

pre[class~=language-shell]::before {
  content: "SHELL";
}

pre[class~=language-powershell]::before {
  content: "POWERSHELL";
}

pre[class~=language-flow]::before {
  content: "FLOW";
}

pre[class~=language-sequence]::before {
  content: "SEQUENCE";
}

pre[class~=language-sql]::before {
  content: "SQL";
}

pre[class~=language-yaml]::before {
  content: "YAML";
}

pre[class~=language-yml]::before {
  content: "YML";
}

pre[class~=language-ini]::before {
  content: "INI";
}

pre[class~=language-xml]::before {
  content: "XML";
}

pre[class~=language-cs]::before {
  content: "CS";
}

pre[class~=language-cpp]::before {
  content: "CPP";
}

pre[class~=language-java]::before {
  content: "JAVA";
}

pre[class~=language-html]::before {
  content: "HTML";
}

pre[class~=language-txt]::before {
  content: "TXT";
}

pre[class~=language-md]::before {
  content: "MD";
}

pre[class~=language-bat]::before {
  content: "BAT";
}

pre[class~=language-json]::before {
  content: "JSON";
}

pre[class~=language-groovy]::before {
  content: "GROOVY";
}

pre[class~=language-scss]::before {
  content: "SCSS";
}

pre[class~=language-bash]::before {
  content: "BASH";
}

pre[class~=language-cmd]::before {
  content: "CMD";
}

pre[class~=language-latex]::before {
  content: "LATEX";
}

/*===== 语法高亮 =====*/
:root {
  --red: #ff7070;
  --orange: #ff9f31;
  --yellow: #ffd080;
  --green: #a3e6a1;
  --green-dark: #6fcc74;
  --cyan: #b1cbe8;
  --blue: #6fa9ff;
  --purple: #b8a4ff;
  --color-basic: var(--yellow);
  --color-selector: var(--red);
  --color-number: var(--green);
  --color-operator: var(--cyan);
  --color-property: var(--orange);
  --color-string: var(--green-dark);
  --color-annotation: var(--blue);
  --color-comment: #888;
  --color-important: var(--purple);
  --color-function: var(--blue);
}

pre.language-css code {
  color: var(--color-string);
}
pre code, pre code.url {
  color: var(--color-basic) !important;
}
pre code .token.number {
  color: var(--color-number) !important;
}
pre code .token.selector, pre code .token.tag {
  color: var(--color-selector) !important;
}
pre code .token.punctuation, pre code .token.operator {
  color: var(--color-operator) !important;
}
pre code .token.property, pre code .token.attr-name, pre code .token.class-name {
  color: var(--color-property) !important;
}
pre code .token.string, pre code .token.important, pre code .token.attr-value {
  color: var(--color-string) !important;
}
pre code .token.annotation.punctuation, pre code .token.annotation.punctuation, pre code .token.unit {
  color: var(--color-annotation) !important;
}
pre code .token.doctype *, pre code .token.comment, pre code .token.comment * {
  color: var(--color-comment) !important;
}
pre code .token.atrule, pre code .token.variable, pre code .token.boolean, pre code .token.keyword {
  color: var(--color-important) !important;
}
pre code .token.function {
  color: var(--color-function) !important;
}
pre code .token.constant {
  color: var(--red) !important;
}

.cm-number {
  color: #40c546 !important;
}

.cm-tag {
  color: var(--color-selector) !important;
}

.cm-operator {
  color: #3787ff !important;
}

.cm-def,
.cm-type,
.cm-attribute {
  color: #f18810 !important;
}

.cm-string {
  color: var(--color-string) !important;
}

.cm-comment {
  color: #888 !important;
}

.cm-keyword {
  color: #987bff !important;
}

.markdown-preview-view code,
.cm-hmd-codeblock.cm-formatting {
  color: var(--inline-code);
}

.cm-inline-code {
  color: var(--inline-code) !important;
}
.cm-inline-code.cm-header {
  color: var(--inline-code) !important;
}