@charset "UTF-8";
:root {
  --font-bold: bold;
  --h1-color: #ea572a;
  --h2-color: #ee9b00;
  --h3-color: #57c302;
  --h4-color: #0993d3;
  --h5-color: #9084e9;
  --h6-color: #bc61ad;
  --h1-size: 1.8rem;
  --h2-size: 1.7rem;
  --h3-size: 1.5rem;
  --h4-size: 1.4rem;
  --h5-size: 1.3rem;
  --h6-size: 1.2rem;
  --h1-weight: var(--font-bold);
  --h2-weight: var(--font-bold);
  --h3-weight: var(--font-bold);
  --h4-weight: var(--font-bold);
  --h5-weight: var(--font-bold);
  --h6-weight: var(--font-bold);
  --transition: all 0.3s ease-in-out;
}

.theme-light {
  --text-selection: #8ec2ff6e;
  --background-primary-transparent: #fefefef0;
  --external-link: #ff9f31;
  --internal-link: #5d94ca;
  --quote: var(--file-item-selected-bg);
  --strong: var(--red-hover);
  --thead: #ffefa9;
  --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #bcd4fd45;
  --highlight-search: #ff8851;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
  --text-highlight-bg: #34ae0066;
  --text-highlight-bg-active: #ffc40057;
}

.theme-dark {
  --text-selection: #619cd34d;
  --external-link: #ff9f31dd;
  --internal-link: #58a8fadd;
  --quote: var(--file-item-selected-bg);
  --strong: var(--red-hover);
  --thead: #48576993;
  --tag: var(--thead);
  --highlight-line: #8297bb16;
  --highlight-search: #e977428c;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
}

.workspace-leaf-content[data-type=markdown] .markdown-embed-content {
  border-radius: 8px;
  max-height: unset;
  padding: 12px 0 !important;
}
.workspace-leaf-content[data-type=markdown] .markdown-embed-content .markdown-preview-view {
  background-image: none !important;
}

.theme-light .workspace-leaf-content[data-type=empty] .view-content,
.theme-light .markdown-preview-view:not(.community-plugin-readme),
.theme-light .cm-editor .cm-scroller {
  background-image: linear-gradient(170deg, rgba(208, 142, 252, 0.7333333333), rgba(186, 146, 249, 0.7333333333), rgba(165, 150, 244, 0.7333333333), rgba(147, 151, 237, 0.7333333333), rgba(132, 152, 227, 0.7333333333), rgba(116, 158, 227, 0.7333333333), rgba(103, 164, 224, 0.7333333333), rgba(95, 168, 219, 0.7333333333), rgba(84, 179, 219, 0.7333333333), rgba(84, 190, 215, 0.7333333333), rgba(95, 199, 209, 0.7333333333), rgba(114, 207, 201, 0.7333333333)) !important;
}

.theme-dark .workspace-leaf-content[data-type=empty] .view-content,
.theme-dark .markdown-preview-view:not(.community-plugin-readme),
.theme-dark .cm-editor .cm-scroller {
  background-image: linear-gradient(170deg, #563e59, #523f5d, #4d4161, #474365, #404568, #37496b, #2c4d6d, #20506e, #0e556d, #035a6a, #0b5e64, #1d625d) !important;
}

body.print div .markdown-preview-view {
  background-image: none !important;
}

.markdown-preview-section {
  height: 100% !important;
}

.markdown-preview-view,
.cm-editor .cm-scroller {
  padding: 0 !important;
  background-position-y: center;
}
.markdown-preview-view .markdown-preview-sizer,
.markdown-preview-view .cm-contentContainer,
.cm-editor .cm-scroller .markdown-preview-sizer,
.cm-editor .cm-scroller .cm-contentContainer {
  background-color: var(--background-primary-transparent);
  padding: 0px 35px !important;
  max-width: 770px !important;
  min-height: 100%;
}

.is-live-preview .cm-line:not(.active-line) .cm-hmd-internal-link:not(.cm-formatting),
.markdown-preview-view .internal-link,
.is-live-preview .cm-line:not(.active-line) .cm-link:not(.cm-formatting),
.markdown-preview-view .external-link {
  border-radius: 4px;
  margin: 0 2px;
  padding: 0 2px;
  border: 2px solid var(--c);
  box-sizing: border-box;
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, rgba(0, 0, 0, 0) 0) -2px var(--p, 2%)/var(--s, 0%) 200% no-repeat, conic-gradient(from -135deg at 1.2em 50%, rgba(0, 0, 0, 0) 90deg, var(--c) 0) calc(100% + 2px) var(--p, 2%)/var(--s, 0%) 200% no-repeat !important;
  transition: 0.3s ease-in-out, background-position 0s, padding 0s, border-radius 0s, border 0s;
}
.is-live-preview .cm-line:not(.active-line) .cm-hmd-internal-link:not(.cm-formatting):hover,
.markdown-preview-view .internal-link:hover,
.is-live-preview .cm-line:not(.active-line) .cm-link:not(.cm-formatting):hover,
.markdown-preview-view .external-link:hover {
  --p: 96%;
  --s: calc(50% + 0.9em);
  color: var(--background-primary) !important;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2705882353), -3px -3px 6px rgba(255, 255, 255, 0.2705882353);
}

.cm-link {
  color: var(--external-link) !important;
}

.cm-link,
.external-link {
  color: var(--external-link) !important;
}
.cm-link,
.cm-link .cm-underline,
.external-link,
.external-link .cm-underline {
  text-decoration: none !important;
}

.cm-url .cm-underline,
.external-link {
  color: var(--external-link) !important;
}
.cm-url .cm-underline:hover,
.external-link:hover {
  text-decoration: underline !important;
}

span.external-link {
  display: none !important;
}

.is-live-preview .cm-line .cm-link,
.markdown-preview-view .external-link {
  --c: var(--external-link);
}

.cm-url,
.cm-hmd-internal-link,
.internal-link {
  color: var(--internal-link) !important;
}
.cm-url,
.cm-url .cm-underline,
.cm-hmd-internal-link,
.cm-hmd-internal-link .cm-underline,
.internal-link,
.internal-link .cm-underline {
  text-decoration: none !important;
}

.internal-link {
  padding: 0 4px;
}

.is-live-preview .cm-line .cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  --c: var(--internal-link);
}

.cm-formatting-link,
.cm-formatting-link-string {
  color: var(--link-formatting) !important;
  margin: 0 2px !important;
}
.cm-formatting-link ~ .cm-hmd-internal-link, .cm-formatting-link + .cm-link,
.cm-formatting-link-string ~ .cm-hmd-internal-link,
.cm-formatting-link-string + .cm-link {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  transition: none !important;
}

blockquote .external-link {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  transition: none !important;
}

kbd {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 4px !important;
  margin: 0 4px;
  background-color: var(--background-primary);
  line-height: 1.4rem;
  height: 1.4rem;
  font-family: var(--font-text);
}

.theme-light kbd {
  border: 1px solid #ddd;
  box-shadow: var(--shadow-outset);
}

.theme-dark kbd {
  background-color: var(--file-item-selected-bg);
  border: 2px solid var(--file-item-selected-bg);
  color: #ddd;
}

.cm-strong,
.cm-em,
strong,
em {
  color: var(--strong);
  font-weight: var(--font-bold) !important;
}

div[data-type=markdown] .cm-strong,
div[data-type=markdown] .cm-em,
div[data-type=markdown] strong,
div[data-type=markdown] em {
  color: var(--strong) !important;
}

h1 {
  color: var(--h1-color) !important;
  font-size: var(--h1-size) !important;
  font-weight: var(--h1-weight) !important;
  line-height: 1.5;
}

.markdown-preview-view .cm-header-1,
.cm-editor .cm-header-1 {
  color: var(--h1-color) !important;
  font-size: var(--h1-size) !important;
  font-weight: var(--h1-weight) !important;
}
.markdown-preview-view .HyperMD-header-1,
.cm-editor .HyperMD-header-1 {
  padding: 4px 0 !important;
  line-height: calc(var(--h1-size) * 1.4);
}
.is-live-preview .HyperMD-header-1,
.workspace-leaf-content[data-type=markdown] h1 {
  position: relative;
  margin: calc(var(--h1-size) / 3) 0;
}
.is-live-preview .HyperMD-header-1::before,
.workspace-leaf-content[data-type=markdown] h1::before {
  position: absolute;
  border: 2px solid var(--h1-color);
  border-radius: 4px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  height: 0.6rem;
  line-height: 0.6rem;
  content: "H1";
  opacity: 0;
  transition: var(--transition);
  top: 48%;
  transform: translateY(-50%);
  left: -20px;
}
.is-live-preview .HyperMD-header-1:hover::before,
.workspace-leaf-content[data-type=markdown] h1:hover::before {
  transition: var(--transition);
  opacity: 0.8;
}

.is-live-preview .HyperMD-header-1 {
  padding-left: 4px !important;
}

.theme-light .is-live-preview .HyperMD-header-1::before,
.theme-light .workspace-leaf-content[data-type=markdown] h1::before {
  color: var(--h1-color);
}

.theme-dark .is-live-preview .HyperMD-header-1::before,
.theme-dark .workspace-leaf-content[data-type=markdown] h1::before {
  background-color: var(--h1-color);
  color: #fff;
}

h2 {
  color: var(--h2-color) !important;
  font-size: var(--h2-size) !important;
  font-weight: var(--h2-weight) !important;
  line-height: 1.5;
}

.markdown-preview-view .cm-header-2,
.cm-editor .cm-header-2 {
  color: var(--h2-color) !important;
  font-size: var(--h2-size) !important;
  font-weight: var(--h2-weight) !important;
}
.markdown-preview-view .HyperMD-header-2,
.cm-editor .HyperMD-header-2 {
  padding: 4px 0 !important;
  line-height: calc(var(--h2-size) * 1.4);
}
.is-live-preview .HyperMD-header-2,
.workspace-leaf-content[data-type=markdown] h2 {
  position: relative;
  margin: calc(var(--h2-size) / 3) 0;
}
.is-live-preview .HyperMD-header-2::before,
.workspace-leaf-content[data-type=markdown] h2::before {
  position: absolute;
  border: 2px solid var(--h2-color);
  border-radius: 4px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  height: 0.6rem;
  line-height: 0.6rem;
  content: "H2";
  opacity: 0;
  transition: var(--transition);
  top: 48%;
  transform: translateY(-50%);
  left: -20px;
}
.is-live-preview .HyperMD-header-2:hover::before,
.workspace-leaf-content[data-type=markdown] h2:hover::before {
  transition: var(--transition);
  opacity: 0.8;
}

.is-live-preview .HyperMD-header-2 {
  padding-left: 4px !important;
}

.theme-light .is-live-preview .HyperMD-header-2::before,
.theme-light .workspace-leaf-content[data-type=markdown] h2::before {
  color: var(--h2-color);
}

.theme-dark .is-live-preview .HyperMD-header-2::before,
.theme-dark .workspace-leaf-content[data-type=markdown] h2::before {
  background-color: var(--h2-color);
  color: #fff;
}

h3 {
  color: var(--h3-color) !important;
  font-size: var(--h3-size) !important;
  font-weight: var(--h3-weight) !important;
  line-height: 1.5;
}

.markdown-preview-view .cm-header-3,
.cm-editor .cm-header-3 {
  color: var(--h3-color) !important;
  font-size: var(--h3-size) !important;
  font-weight: var(--h3-weight) !important;
}
.markdown-preview-view .HyperMD-header-3,
.cm-editor .HyperMD-header-3 {
  padding: 4px 0 !important;
  line-height: calc(var(--h3-size) * 1.4);
}
.is-live-preview .HyperMD-header-3,
.workspace-leaf-content[data-type=markdown] h3 {
  position: relative;
  margin: calc(var(--h3-size) / 3) 0;
}
.is-live-preview .HyperMD-header-3::before,
.workspace-leaf-content[data-type=markdown] h3::before {
  position: absolute;
  border: 2px solid var(--h3-color);
  border-radius: 4px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  height: 0.6rem;
  line-height: 0.6rem;
  content: "H3";
  opacity: 0;
  transition: var(--transition);
  top: 48%;
  transform: translateY(-50%);
  left: -20px;
}
.is-live-preview .HyperMD-header-3:hover::before,
.workspace-leaf-content[data-type=markdown] h3:hover::before {
  transition: var(--transition);
  opacity: 0.8;
}

.is-live-preview .HyperMD-header-3 {
  padding-left: 4px !important;
}

.theme-light .is-live-preview .HyperMD-header-3::before,
.theme-light .workspace-leaf-content[data-type=markdown] h3::before {
  color: var(--h3-color);
}

.theme-dark .is-live-preview .HyperMD-header-3::before,
.theme-dark .workspace-leaf-content[data-type=markdown] h3::before {
  background-color: var(--h3-color);
  color: #fff;
}

h4 {
  color: var(--h4-color) !important;
  font-size: var(--h4-size) !important;
  font-weight: var(--h4-weight) !important;
  line-height: 1.5;
}

.markdown-preview-view .cm-header-4,
.cm-editor .cm-header-4 {
  color: var(--h4-color) !important;
  font-size: var(--h4-size) !important;
  font-weight: var(--h4-weight) !important;
}
.markdown-preview-view .HyperMD-header-4,
.cm-editor .HyperMD-header-4 {
  padding: 4px 0 !important;
  line-height: calc(var(--h4-size) * 1.4);
}
.is-live-preview .HyperMD-header-4,
.workspace-leaf-content[data-type=markdown] h4 {
  position: relative;
  margin: calc(var(--h4-size) / 3) 0;
}
.is-live-preview .HyperMD-header-4::before,
.workspace-leaf-content[data-type=markdown] h4::before {
  position: absolute;
  border: 2px solid var(--h4-color);
  border-radius: 4px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  height: 0.6rem;
  line-height: 0.6rem;
  content: "H4";
  opacity: 0;
  transition: var(--transition);
  top: 48%;
  transform: translateY(-50%);
  left: -20px;
}
.is-live-preview .HyperMD-header-4:hover::before,
.workspace-leaf-content[data-type=markdown] h4:hover::before {
  transition: var(--transition);
  opacity: 0.8;
}

.is-live-preview .HyperMD-header-4 {
  padding-left: 4px !important;
}

.theme-light .is-live-preview .HyperMD-header-4::before,
.theme-light .workspace-leaf-content[data-type=markdown] h4::before {
  color: var(--h4-color);
}

.theme-dark .is-live-preview .HyperMD-header-4::before,
.theme-dark .workspace-leaf-content[data-type=markdown] h4::before {
  background-color: var(--h4-color);
  color: #fff;
}

h5 {
  color: var(--h5-color) !important;
  font-size: var(--h5-size) !important;
  font-weight: var(--h5-weight) !important;
  line-height: 1.5;
}

.markdown-preview-view .cm-header-5,
.cm-editor .cm-header-5 {
  color: var(--h5-color) !important;
  font-size: var(--h5-size) !important;
  font-weight: var(--h5-weight) !important;
}
.markdown-preview-view .HyperMD-header-5,
.cm-editor .HyperMD-header-5 {
  padding: 4px 0 !important;
  line-height: calc(var(--h5-size) * 1.4);
}
.is-live-preview .HyperMD-header-5,
.workspace-leaf-content[data-type=markdown] h5 {
  position: relative;
  margin: calc(var(--h5-size) / 3) 0;
}
.is-live-preview .HyperMD-header-5::before,
.workspace-leaf-content[data-type=markdown] h5::before {
  position: absolute;
  border: 2px solid var(--h5-color);
  border-radius: 4px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  height: 0.6rem;
  line-height: 0.6rem;
  content: "H5";
  opacity: 0;
  transition: var(--transition);
  top: 48%;
  transform: translateY(-50%);
  left: -20px;
}
.is-live-preview .HyperMD-header-5:hover::before,
.workspace-leaf-content[data-type=markdown] h5:hover::before {
  transition: var(--transition);
  opacity: 0.8;
}

.is-live-preview .HyperMD-header-5 {
  padding-left: 4px !important;
}

.theme-light .is-live-preview .HyperMD-header-5::before,
.theme-light .workspace-leaf-content[data-type=markdown] h5::before {
  color: var(--h5-color);
}

.theme-dark .is-live-preview .HyperMD-header-5::before,
.theme-dark .workspace-leaf-content[data-type=markdown] h5::before {
  background-color: var(--h5-color);
  color: #fff;
}

h6 {
  color: var(--h6-color) !important;
  font-size: var(--h6-size) !important;
  font-weight: var(--h6-weight) !important;
  line-height: 1.5;
}

.markdown-preview-view .cm-header-6,
.cm-editor .cm-header-6 {
  color: var(--h6-color) !important;
  font-size: var(--h6-size) !important;
  font-weight: var(--h6-weight) !important;
}
.markdown-preview-view .HyperMD-header-6,
.cm-editor .HyperMD-header-6 {
  padding: 4px 0 !important;
  line-height: calc(var(--h6-size) * 1.4);
}
.is-live-preview .HyperMD-header-6,
.workspace-leaf-content[data-type=markdown] h6 {
  position: relative;
  margin: calc(var(--h6-size) / 3) 0;
}
.is-live-preview .HyperMD-header-6::before,
.workspace-leaf-content[data-type=markdown] h6::before {
  position: absolute;
  border: 2px solid var(--h6-color);
  border-radius: 4px;
  z-index: 1;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  height: 0.6rem;
  line-height: 0.6rem;
  content: "H6";
  opacity: 0;
  transition: var(--transition);
  top: 48%;
  transform: translateY(-50%);
  left: -20px;
}
.is-live-preview .HyperMD-header-6:hover::before,
.workspace-leaf-content[data-type=markdown] h6:hover::before {
  transition: var(--transition);
  opacity: 0.8;
}

.is-live-preview .HyperMD-header-6 {
  padding-left: 4px !important;
}

.theme-light .is-live-preview .HyperMD-header-6::before,
.theme-light .workspace-leaf-content[data-type=markdown] h6::before {
  color: var(--h6-color);
}

.theme-dark .is-live-preview .HyperMD-header-6::before,
.theme-dark .workspace-leaf-content[data-type=markdown] h6::before {
  background-color: var(--h6-color);
  color: #fff;
}

.heading-collapse-indicator {
  position: absolute;
  z-index: 99;
  height: 16px;
  width: 18px;
  top: 9px;
  left: 10px;
  padding: 0 !important;
}
.heading-collapse-indicator svg {
  display: none;
}

.HyperMD-header {
  position: relative;
}
.HyperMD-header .cm-fold-indicator .collapse-indicator {
  z-index: 99;
  opacity: 0 !important;
  width: 24px;
  height: 14px !important;
  padding-right: 6px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.cm-editor .cm-line .cm-formatting-header {
  filter: grayscale(70%);
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.2rem;
}

h1 {
  text-align: center;
}

h2,
.HyperMD-header-2 {
  position: relative;
}
h2::after,
.HyperMD-header-2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to right, var(--h2-color) 30%, transparent 70%);
}

h2 {
  margin-bottom: 16px !important;
}
h2::after {
  bottom: -4px;
  left: 0;
}

.HyperMD-header-2::after {
  bottom: 6px;
  left: 4px;
}

.modal-container h2::after {
  height: 4px;
}

.vertical-tab-content h2 {
  text-align: unset;
}

.cm-header-6,
h6 {
  font-variant: small-caps;
}

.markdown-preview-view blockquote {
  background-color: var(--background-primary-alt);
  border: none !important;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2705882353), -1px -1px 2px rgba(221, 221, 221, 0.2666666667);
  transition: var(--transition);
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  position: relative;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 70px;
}
.markdown-preview-view blockquote::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 6px;
  height: calc(100% - 6px);
  width: 6px;
  background-color: var(--text-accent);
}
.markdown-preview-view blockquote:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2705882353), -2px -2px 4px rgba(221, 221, 221, 0.2666666667);
  transform: translateY(-2px);
}

.is-live-preview .HyperMD-quote:not(.callout) {
  padding-left: 60px !important;
  border-left: none !important;
}
.is-live-preview .HyperMD-quote:not(.callout)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background-color: var(--text-accent);
}

:not(.callout-content) > blockquote::before, .is-live-preview div:not(.HyperMD-quote) + .HyperMD-quote:not(.cm-active) > .cm-formatting.cm-formatting-quote.cm-quote::before,
.is-live-preview .cm-content :first-child:is(.HyperMD-quote):not(.cm-active) > .cm-formatting.cm-formatting-quote.cm-quote::before {
  position: absolute;
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 4em;
}

.is-live-preview div:not(.HyperMD-quote) + .HyperMD-quote:not(.cm-active) > .cm-formatting.cm-formatting-quote.cm-quote::before,
.is-live-preview .cm-content :first-child:is(.HyperMD-quote):not(.cm-active) > .cm-formatting.cm-formatting-quote.cm-quote::before {
  left: -12px;
  top: 20px;
}
blockquote:before {
  left: -4px;
  top: 24px;
}

.is-live-preview .HyperMD-callout .cm-quote::before {
  content: none !important;
}

.markdown-preview-view table {
  overflow: hidden;
  resize: both !important;
  margin: 30px 0;
}

.markdown-embed table,
.markdown-embed table:hover {
  transform: none !important;
  box-shadow: none !important;
  resize: none !important;
}

.cm-embed-block table,
.markdown-preview-view table {
  width: calc(100% - 8px);
  margin-left: 4px;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2705882353), -1px -1px 2px rgba(221, 221, 221, 0.2666666667);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.cm-embed-block table:hover,
.markdown-preview-view table:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2705882353), -2px -2px 4px rgba(221, 221, 221, 0.2666666667);
}
.cm-embed-block table th,
.cm-embed-block table td,
.markdown-preview-view table th,
.markdown-preview-view table td {
  border: none;
  border-bottom: 2px solid var(--background-secondary-alt);
  word-wrap: break-word;
  padding: 4px !important;
}
.cm-embed-block table th,
.markdown-preview-view table th {
  background-color: var(--thead);
  text-align: left;
  border-bottom-color: var(--text-faint);
}
.cm-embed-block table th[align=right],
.markdown-preview-view table th[align=right] {
  text-align: right;
}
.cm-embed-block table th[align=center],
.markdown-preview-view table th[align=center] {
  text-align: center;
}

ul,
ol {
  -webkit-padding-start: 1.8rem;
          padding-inline-start: 1.8rem;
  margin-top: 2px;
  margin-bottom: 2px;
}
ul ul,
ul ol,
ol ul,
ol ol {
  -webkit-padding-start: 1.8rem;
          padding-inline-start: 1.8rem;
}
ul li,
ol li {
  margin: 6px auto;
  line-height: 1.8rem;
}
ul li::marker,
ol li::marker {
  font-family: var(--font-monospace) !important;
  color: var(--text-accent);
}

ul {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

ul.contains-task-list {
  -webkit-padding-start: 1.4rem;
          padding-inline-start: 1.4rem;
  -webkit-margin-start: 0 !important;
          margin-inline-start: 0 !important;
}

ul > li > ul > li {
  list-style: square;
}
ul > li > ul > li ul > li {
  list-style: circle;
}

.markdown-rendered.show-indentation-guide li > ul::before {
  left: -0.9em;
}
.markdown-rendered.show-indentation-guide li > ol::before {
  left: -1.8em;
}

.markdown-source-view.mod-cm6 .HyperMD-list-line .list-bullet:after {
  right: -1px;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-56%);
  color: var(--text-accent);
  font-family: var(--font-monospace), consolas !important;
}
.markdown-source-view.mod-cm6 .HyperMD-list-line-1 .list-bullet:after {
  content: "●";
}
.markdown-source-view.mod-cm6 .HyperMD-list-line-2 .list-bullet:after {
  font-weight: var(--font-bold);
  content: "○";
}
.markdown-source-view.mod-cm6 .HyperMD-list-line-3 .list-bullet:after {
  font-size: 0.6rem;
  right: 0.2px;
  content: "■";
}
.markdown-source-view.mod-cm6 .HyperMD-list-line-4 .list-bullet:after {
  font-weight: var(--font-bold);
  content: "□";
}
.markdown-source-view.mod-cm6 .cm-formatting-list {
  color: var(--text-accent);
  font-family: var(--font-monospace);
}

.cm-hmd-list-indent {
  -moz-tab-size: 8;
    -o-tab-size: 8;
       tab-size: 8;
}

.cm-line .list-collapse-indicator {
  padding-right: 10px !important;
}
.cm-line .collapse-indicator {
  margin-top: -2px;
  padding-right: 8px !important;
}

li {
  position: relative;
}

ol li .list-collapse-indicator {
  margin-top: -2px !important;
  transition: var(--transition);
  margin-left: -54px !important;
  opacity: 0;
}
ol li:hover > .list-collapse-indicator {
  opacity: 1;
}

ul li .list-collapse-indicator {
  margin-top: -2px !important;
  opacity: 0;
}
ul li:hover > .list-collapse-indicator {
  opacity: 1;
  transition: var(--transition);
}

.markdown-preview-view hr,
.is-live-preview hr {
  overflow: visible;
  line-height: 0;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, transparent 0, var(--text-accent) 46%, transparent 46%, transparent 54%, var(--text-accent) 54%, transparent 100%) 1;
     border-image: linear-gradient(to right, transparent 0, var(--text-accent) 46%, transparent 46%, transparent 54%, var(--text-accent) 54%, transparent 100%) 1;
}
.markdown-preview-view hr::after,
.is-live-preview hr::after {
  content: "🌟";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.markdown-preview-view hr::after {
  font-size: 1rem;
  position: relative;
}

.markdown-preview-view a.tag {
  padding: 2px 10px;
  background-color: var(--tag);
  border-radius: 999px;
  text-decoration: none;
  transition: var(--transition);
  border: 2px solid var(--text-accent);
}
.markdown-preview-view a.tag:hover {
  background-color: var(--tag) !important;
  color: var(--text-nomarl) !important;
}
.markdown-preview-view a.tag:hover {
  box-shadow: var(--shadow);
  transition: var(--transition);
  filter: var(--hover);
}

.cm-line .cm-hashtag-begin,
.cm-line .cm-hashtag-end {
  font-family: var(--font-interface) !important;
  background-color: var(--tag);
  text-decoration: none !important;
  border: 2px solid var(--text-accent);
}
.cm-line .cm-hashtag-begin {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  padding-left: 4px;
  border-right: none !important;
}
.cm-line .cm-hashtag-end {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  padding-right: 4px;
  border-left: none !important;
}

.HyperMD-task-line {
  padding-top: 0 !important;
}

.markdown-preview-view .task-list-item {
  margin: 10px auto;
}

.task-list-item-checkbox {
  filter: none;
  transform: translateY(-0.1rem);
}

.internal-embed.is-loaded {
  border-radius: 8px;
  transition: var(--transition);
  padding: 2px !important;
  /*删除内嵌文档节选的第一行*/
}
.internal-embed.is-loaded .markdown-embed-link,
.internal-embed.is-loaded .file-embed-link {
  opacity: 0;
  top: 6px;
  right: 5px;
  padding: 4px;
  height: 28px;
  width: 28px;
  border-radius: 8px;
  transition: var(--transition);
  color: var(--text-normal);
}
.internal-embed.is-loaded .markdown-embed-title {
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 30px;
  left: unset;
  font-size: 1rem;
  top: 6px;
  line-height: 28px;
  height: 28px;
  padding: 0 8px;
  border-radius: 8px;
  transition: var(--transition);
  cursor: pointer;
}
.internal-embed.is-loaded .markdown-embed-title:hover {
  box-shadow: none !important;
  border: none !important;
  background-color: inherit !important;
}
.internal-embed.is-loaded:hover {
  transition: var(--transition);
}
.internal-embed.is-loaded:hover .markdown-embed-title,
.internal-embed.is-loaded:hover .markdown-embed-link,
.internal-embed.is-loaded:hover .file-embed-link {
  opacity: 1;
}
.internal-embed.is-loaded:hover .markdown-embed-title:hover,
.internal-embed.is-loaded:hover .markdown-embed-link:hover,
.internal-embed.is-loaded:hover .file-embed-link:hover {
  background-color: var(--file-item-bg);
  box-shadow: var(--shadow);
}
.internal-embed.is-loaded img,
.internal-embed.is-loaded .markdown-embed,
.internal-embed.is-loaded .file-embed {
  border-radius: 12px;
  transition: var(--transition);
  margin: 0;
  padding: 0;
}
.internal-embed.is-loaded img .markdown-preview-view,
.internal-embed.is-loaded .markdown-embed .markdown-preview-view,
.internal-embed.is-loaded .file-embed .markdown-preview-view {
  padding: 10px 20px;
}
.internal-embed.is-loaded .markdown-embed,
.internal-embed.is-loaded .file-embed {
  margin: 8px 0;
  border: 3px solid;
  border-color: var(--file-item-bg);
  background-color: var(--background-primary);
}
.internal-embed.is-loaded .markdown-embed:hover,
.internal-embed.is-loaded .file-embed:hover {
  border-color: var(--text-accent);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2705882353), -2px -2px 4px rgba(221, 221, 221, 0.2666666667);
  transform: translateY(-2px);
}
.internal-embed.is-loaded .markdown-embed .frontmatter + div,
.internal-embed.is-loaded .file-embed .frontmatter + div {
  display: none;
}
.internal-embed.is-loaded.image-embed {
  text-align: center;
  display: inline-block;
  width: 100%;
}
:not(.excalidraw-svg) .internal-embed.is-loaded.image-embed img:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2705882353), -2px -2px 4px rgba(221, 221, 221, 0.2666666667);
  transform: translateY(-2px);
}
.theme-light img,
.theme-light .markdown-embed,
.theme-light .file-embed {
  border: 0;
}

.theme-dark img,
.theme-dark .markdown-embed,
.theme-dark .file-embed {
  border: 2px solid var(--file-item-selected-bg);
}

.internal-embed.is-loaded .markdown-embed-heading .markdown-preview-section {
  min-height: unset !important;
}
.internal-embed.is-loaded .markdown-embed-heading .markdown-preview-section > div:nth-child(2) {
  position: absolute;
  right: 36px;
  top: -12px;
  z-index: 99;
  opacity: 0;
  transition: var(--transition);
}
.internal-embed.is-loaded .markdown-embed-heading .markdown-preview-section > div:nth-child(2) * {
  font-size: 1.1rem !important;
  cursor: pointer;
}
.internal-embed.is-loaded .markdown-embed-heading .markdown-preview-section > div:nth-child(2) *::before {
  content: none !important;
}
.internal-embed.is-loaded .markdown-embed:hover .markdown-embed-heading .markdown-preview-section > div:nth-child(2) {
  opacity: 1;
}
.internal-embed.is-loaded svg.link {
  transform: rotate(90deg) translateX(-1px);
}

.markdown-embed img:hover {
  box-shadow: none !important;
  transform: none !important;
}

.cm-active.cm-line {
  background-color: var(--highlight-line) !important;
  border-radius: 4px;
}

.cm-s-obsidian span.obsidian-search-match-highlight,
.search-result-file-matched-text,
.is-flashing,
mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--highlight-search) !important;
  color: #fff !important;
  border-radius: 2px;
}
.cm-s-obsidian span.obsidian-search-match-highlight *,
.search-result-file-matched-text *,
.is-flashing *,
mark *,
.cm-s-obsidian span.cm-formatting-highlight *,
.cm-s-obsidian span.cm-highlight * {
  color: #fff !important;
  background-color: transparent !important;
}

.app-container .workspace .cm-editor .is-flashing,
.search-highlight div.is-active {
  font-weight: var(--font-bold);
  transition: 0.3s all ease-out;
  border: 2px solid var(--highlight-search);
  border-radius: 4px;
  color: var(--text-nomarl) !important;
}

pre[class*=language-] *::-moz-selection {
  background-color: var(--text-selection) !important;
}

pre[class*=language-] *::selection {
  background-color: var(--text-selection) !important;
}

p,
.cm-line {
  line-height: 2rem;
  margin: 10px 0;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  border: 0;
}
p:not(.HyperMD-list-line):not(.HyperMD-header):not(.HyperMD-quote),
.cm-line:not(.HyperMD-list-line):not(.HyperMD-header):not(.HyperMD-quote) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
p.HyperMD-list-line,
.cm-line.HyperMD-list-line {
  padding-top: 0 !important;
}

.HyperMD-codeblock {
  line-height: 1.8rem !important;
  font-size: 1rem !important;
}
.HyperMD-codeblock .HyperMD-codeblock .cm-formatting,
.HyperMD-codeblock .code-block-flair {
  color: var(--inline-code) !important;
  font-family: var(--font-text);
}

.cm-cursor {
  border-width: 2px !important;
  border-color: var(--text-accent) !important;
}

.markdown-source-view.mod-cm6 .cm-embed-block {
  border: 0;
  padding: 4px 0;
}
.markdown-source-view.mod-cm6 .cm-embed-block .edit-block-button {
  padding: 1px;
  top: 1px;
  border-radius: 20px;
  right: 0px;
}
.markdown-source-view.mod-cm6 .cm-embed-block .edit-block-button::before {
  width: 28px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  content: "</>";
}
.markdown-source-view.mod-cm6 .cm-embed-block .edit-block-button > svg {
  display: none;
}