:root {
  --font-bold: bold;
  --h1-color: #ea572a;
  --h2-color: #ee9b00;
  --h3-color: #57c302;
  --h4-color: #0993d3;
  --h5-color: #9084e9;
  --h6-color: #bc61ad;
  --h1-size: 2rem;
  --h2-size: 1.8rem;
  --h3-size: 1.6rem;
  --h4-size: 1.4rem;
  --h5-size: 1.3rem;
  --h6-size: 1.2rem;
  --h1-weight: var(--font-bold);
  --h2-weight: var(--font-bold);
  --h3-weight: var(--font-bold);
  --h4-weight: var(--font-bold);
  --h5-weight: var(--font-bold);
  --h6-weight: var(--font-bold);
  --transition: all 0.2s ease-in;
}

.theme-light {
  --text-selection: #8ec2ff6e;

  --external-link: #ff9f31;
  --internal-link: #5d94ca;
  // --external-link-hover: #fc774722;
  // --internal-link-hover: #5d94ca22;

  --quote: var(--file-item-bg);
  --strong: var(--text-accent);
  --thead: #ffefa9;
  --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #bcd4fd45;
  --highlight-search: #ff8851;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
}

.theme-dark {
  --text-selection: #619cd34d;

  --external-link: #ff9f31dd;
  --internal-link: #58a8fadd;
  // --external-link-hover: #ff7f5033;
  // --internal-link-hover: #58a8fa33;

  --quote: var(--file-item-bg);
  --strong: var(--text-accent);
  --thead: #48576993;
  --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #8297bb16;
  --highlight-search: #e977428c;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
}

@mixin hover {
  &:hover {
    box-shadow: var(--shadow);
    transition: var(--transition);
    filter: var(--hover);
  }
}

//链接

//下划线动画
@mixin underline-anime($color) {
  position: relative;

  &,
  & * {
    text-decoration: none !important;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0;
    right: 0;
    height: 3px;
    background: $color;
    transition: all 0.3s;
    border-radius: 4px;
    transform-origin: right;
  }

  &:hover:before {
    width: 100%;
    left: 0;
    transform-origin: left;
  }
}

.cm-url {
  color: var(--external-link) !important;
}

.markdown-preview-view .cm-link,
.external-link:not(.external-link[contenteditable="false"]) {
  color: var(--external-link) !important;
  text-decoration: none;

  // @include underline-anime(var(--external-link));
  &:hover {
    text-decoration: underline;
  }
}

.cm-link {
  color: var(--internal-link) !important;
}

.markdown-preview-view .cm-url,
.internal-link {
  color: var(--internal-link) !important;
  @include underline-anime(var(--internal-link));
}

.cm-formatting-link,
.cm-formatting-link-string,
.cm-formatting-image {
  color: var(--link-formatting) !important;
  font-weight: var(--font-bold);
  margin: 0 2px;
}

//todo
// .markdown-preview-view .contains-task-list li,
// .markdown-preview-view p {
//   display: flex;
//   align-items: center;

//   a.external-link {
//     overflow: hidden;
//     max-width: 100%;
//     display: inline-block;
//     white-space: nowrap;
//   }
// }

//键盘
kbd {
  user-select: none;
  padding: 0 4px !important;
  margin: 0 4px;
  background-color: var(--background-primary);
  line-height: 1.4rem;
  height: 1.4rem;
}

//
.theme-light {
  kbd {
    border: 1px solid #ddd;
    box-shadow: var(--shadow-outset);
  }
}

.theme-dark {
  kbd {
    background-color: var(--file-item-selected-bg);
    border: 2px solid var(--file-item-selected-bg);
    color: #ddd;
    // line-height: 20px;
  }
}

//加粗、倾斜
.cm-strong,
.cm-em,
strong,
em {
  color: var(--text-accent);
  font-weight: var(--font-bold) !important;
}

div[data-type="markdown"] {
  .cm-strong,
  .cm-em,
  strong,
  em {
    color: var(--strong);
  }
}

//标题
@for $i from 1 through 6 {
  h#{$i} {
    color: var(--h#{$i}-color) !important;
    font-size: var(--h#{$i}-size) !important;
    font-weight: var(--h#{$i}-weight) !important;
    line-height: 1.5;

    &::before {
      top: -13px;
    }
  }

  .markdown-preview-view,
  .cm-editor {
    .cm-formatting-header {
      filter: grayscale(70%);
      font-size: 1.2rem !important;
      font-family: var(--font-monospace);
      font-weight: 400 !important;
    }

    .cm-header-#{$i} {
      color: var(--h#{$i}-color) !important;
      font-size: var(--h#{$i}-size) !important;
      font-weight: var(--h#{$i}-weight) !important;
    }

    .HyperMD-header-#{$i} {
      padding: 4px 0 !important;
    }

    @at-root .is-live-preview .HyperMD-header-#{$i},
      h#{$i} {
      position: relative;
      margin: 14px 0;

      &::before {
        position: absolute;
        border: 2px solid var(--h#{$i}-color);
        border-radius: 4px;

        padding: {
          top: 2px;
          left: 1px;
          right: 1px;
        }

        font-size: 0.6rem;
        font-weight: var(--font-bold);
        height: 0.6rem;
        line-height: 0.6rem;
        content: "H#{$i}";
        opacity: 0;
        transition: var(--transition);
      }

      &:hover::before {
        transition: var(--transition);
        opacity: 0.8;
      }
    }

    @at-root .is-live-preview .HyperMD-header-#{$i}::before {
      position: absolute;
      top: calc(48%);
      transform: translateY(-50%);
      left: -22px;
    }

    @at-root .theme-light {
      .is-live-preview .HyperMD-header-#{$i}::before,
      h#{$i}::before {
        color: var(--h#{$i}-color);
      }
    }

    @at-root .theme-dark {
      .is-live-preview .HyperMD-header-#{$i}::before,
      h#{$i}::before {
        background-color: var(--h#{$i}-color);
        color: #fff;
      }
    }
  }

  // 折叠
  .collapse-indicator {
    opacity: 0;
    transition: var(--transition);
  }

  h#{$i}:hover .collapse-indicator {
    opacity: 1;
    transition: var(--transition);
  }
}

h1 {
  text-align: center;
}

h2 {
  // border-bottom: 3px solid var(--h2-color);
  position: relative;

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--h2-color);
    position: absolute;
    bottom: 4px;
    left: 0;
    border-radius: 99px;
  }
}

// .modal-container h2::before,
.modal-container h2::after {
  content: none;
}

.cm-header-5,
h5,
.cm-header-6,
h6 {
  font-weight: normal !important;
}

.cm-header-6,
h6 {
  font-variant: small-caps;
}

//==引用==
//预览
.markdown-rendered blockquote,
.markdown-preview-view blockquote {
  background-color: var(--background-primary-alt);
  border: none !important;
  border-left: 8px solid var(--quote) !important;
  border-radius: 2px;
  margin-inline-end: 0;

  margin: {
    left: 0;
    top: 10px;
    bottom: 10px;
  }

  padding: {
    top: 15px;
    bottom: 15px;
    left: 20px;
  }
}

//编辑
.HyperMD-quote {
  border-color: var(--quote) !important;

  padding: {
    top: 10px !important;
    bottom: 10px !important;
  }
}

//表格
.cm-embed-block table,
.markdown-preview-view table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  resize: both !important;
  border-radius: 8px;
  box-shadow: var(--shadow-outset);

  th,
  td {
    border: none;
    border-bottom: 2px solid var(--background-secondary-alt);
    word-wrap: break-word;
  }

  th {
    background-color: var(--thead);
    text-align: left;
    border-bottom-color: var(--text-faint);

    &[align="right"] {
      text-align: right;
    }

    &[align="center"] {
      text-align: center;
    }
  }
}

//列表

ul,
ol {
  padding-inline-start: 1.8rem;

  margin: {
    top: 2px;
    bottom: 2px;
  }

  ul,
  ol {
    padding-inline-start: 1.8rem;
  }

  li {
    margin: 6px auto;
    line-height: 1.8rem;

    &::marker {
      font-family: var(--font-monospace) !important;
      color: var(--text-accent);
    }
  }
}

ul {
  padding-inline-start: 1rem;
}

ul.contains-task-list {
  padding-inline-start: 1.4rem;
  margin-inline-start: 0 !important;
}

ul > li > ul > li {
  list-style: square;

  ul > li {
    list-style: circle;
  }
}

.markdown-source-view.mod-cm6 {
  .HyperMD-list-line .list-bullet:after {
    right: -1px;
    font-size: 0.8rem;
    top: 50%;
    transform: translateY(-56%);
    color: var(--text-accent);
    font-family: "subcode Maple", consolas !important;
  }

  .HyperMD-list-line-1 .list-bullet:after {
    content: "\25cf";
  }

  .HyperMD-list-line-2 .list-bullet:after {
    font-size: 0.6rem;
    right: 0.2px;
    content: "\25a0";
  }

  .HyperMD-list-line-3 .list-bullet:after {
    font-weight: var(--font-bold);
    content: "\25cb";
  }

  .HyperMD-list-line-4 .list-bullet:after {
    font-weight: var(--font-bold);
    content: "\25a1";
  }

  // .cm-indent {
  //   position: relative;

  //   &::before {
  //     left: 5px;
  //   }
  // }

  .cm-formatting-list {
    color: var(--text-accent);
  }
}

//分割线
.hr.cm-line::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: var(--hr);
  border-bottom: var(--hr);
}

.markdown-preview-view hr {
  margin: 15px auto;
  border-top: var(--hr);
  border-bottom: var(--hr);
}

//标签
.markdown-preview-view a.tag {
  padding: 2px 10px;
  background-color: var(--tag);
  // border: var(--border) !important;
  border-radius: 999px;
  text-decoration: none;
  transition: var(--transition);
  border: 2px solid var(--text-accent);

  &:hover {
    background-color: var(--tag) !important;
    color: var(--text-nomarl) !important;
  }

  @include hover();
}

$radius: 999px;

.cm-line {
  .cm-hashtag-begin,
  .cm-hashtag-end {
    font-family: var(--font-interface) !important;
    background-color: var(--tag);
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none !important;
    border: 2px solid var(--text-accent);
  }

  .cm-hashtag-begin {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    padding-left: 10px;
    border-right: none !important;
  }

  .cm-hashtag-end {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    padding-right: 10px;
    border-left: none !important;
  }
}

//任务列表
.HyperMD-task-line {
  padding: {
    top: 0 !important;
  }
}

.markdown-preview-view .task-list-item {
  margin: 10px auto;
}

.task-list-item-checkbox {
  filter: none;
  transform: translateY(-0.1rem);
}

//内嵌文档
.internal-embed.is-loaded {
  // margin: 10px auto !important;
  border-radius: 8px;
  transition: var(--transition);
  padding: 2px !important;

  .markdown-embed-link,
  .file-embed-link {
    opacity: 0;
    top: 4px;
    right: 2px;
    padding: 4px;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    transition: var(--transition);
    color: var(--text-normal);
  }

  &:hover {
    transition: var(--transition);

    .markdown-embed-link,
    .file-embed-link {
      opacity: 1;
      background-color: var(--file-item-bg);

      &:hover {
        box-shadow: var(--shadow);
      }
    }
  }

  img,
  .markdown-embed,
  .file-embed {
    border-radius: 8px;
    box-shadow: var(--shadow-outset);
    transition: var(--transition);
    margin: 0;
    padding: 0;
    .markdown-preview-view {
      padding: 10px 20px;
    }
    &:hover {
      box-shadow: 0 0 6px 0 #aaa;
      transition: var(--transition);
    }
  }

  @at-root .theme-light {
    img,
    .markdown-embed,
    .file-embed {
      border: 0;
    }
  }

  @at-root .theme-dark {
    img,
    .markdown-embed,
    .file-embed {
      border: 2px solid var(--file-item-selected-bg);
    }
  }

  .markdown-embed-title {
    border-bottom: 4px solid var(--file-item-bg);

    margin: {
      left: 10px;
      right: 19px;
    }

    width: calc(100% - 29px);
  }
}

//==高亮==
//高亮行
.cm-active.cm-line {
  background-color: var(--highlight-line) !important;
  border-radius: 4px;
}

//搜索选中高亮
.cm-s-obsidian span.obsidian-search-match-highlight,
.search-result-file-matched-text,
.is-flashing,
mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--highlight-search) !important;
  color: #fff !important;

  * {
    color: #fff !important;
    background-color: transparent !important;
  }
}

.app-container .workspace .cm-editor .is-flashing,
.search-highlight div.is-active {
  font-weight: var(--font-bold);
  transition: 0.5s all ease-out;
  background-color: unset !important;
  border: 2px solid var(--highlight-search);
  border-radius: 4px;
  color: var(--text-nomarl) !important;
}

//选中区域
pre[class*="language-"] *::selection {
  background-color: var(--text-selection) !important;
}

//行距
p,
.cm-line {
  line-height: 2rem;
  margin: 10px 0;

  &:not(.HyperMD-list-line):not(.HyperMD-header) {
    padding: {
      top: 0 !important;
      bottom: 0 !important;
    }
  }

  &.HyperMD-list-line {
    padding-top: 0 !important;
  }

  height: fit-content !important;
  border: 0;
}

.HyperMD-codeblock {
  line-height: 1.8rem !important;
  font-size: 1rem !important;

  .HyperMD-codeblock .cm-formatting,
  .code-block-flair {
    color: var(--inline-code) !important;
  }
}

//光标
.cm-cursor {
  border-width: 2px !important;
  border-color: var(--text-accent) !important;
}

//编辑代码块
.markdown-source-view.mod-cm6 .cm-embed-block {
  border: 0;
  padding: 4px 0;

  .edit-block-button {
    padding: 1px;
    top: 1px;
    border-radius: 20px;
    right: 0px;

    &::before {
      width: 28px;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      text-align: center;
      content: "</>";
    }

    & > svg {
      display: none;
    }
  }
}
