:root {
  --h1-color: #ea572a;
  --h2-color: #EE9B00;
  --h3-color: #57C302;
  --h4-color: #0993D3;
  --h5-color: #9084E9;
  --h6-color: #F177FF;
  --h1-size: 2rem;
  --h2-size: 1.8rem;
  --h3-size: 1.6rem;
  --h4-size: 1.4rem;
  --h5-size: 1.3rem;
  --h6-size: 1.2rem;
  --h1-weight: 700;
  --h2-weight: 600;
  --h3-weight: 550;
  --h4-weight: 500;
  --h5-weight: 500;
  --h6-weight: 450;
  --transition: all .2s ease-in;
}

.theme-light {
  --text-selection: #8ec2ff6e;

  --external-link: #fc7747;
  --internal-link: #5d94ca;
  --external-link-hover: #fc774722;
  --internal-link-hover: #5d94ca22;
  --inline-code: var(--red);
  --strong: #0eadda;
  --quote: var(--file-item-bg);
  --strong: var(--text-accent);
  --thead: #ffefa9;
  --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #bcd4fd65;
  --highlight-search: #ff8851;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
}

.theme-dark {
  --text-selection: #619cd34d;

  --external-link: #fc7747dd;
  --internal-link: #58a8fadd;
  --external-link-hover: #ff7f5033;
  --internal-link-hover: #58a8fa33;
  --inline-code: var(--red);
  --strong: #00708f;
  --quote: var(--file-item-bg);
  --strong: var(--text-accent);
  --thead: #48576993;
  --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #8297bb21;
  --highlight-search: #e977428c;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
}

@mixin hover {
  &:hover {
    box-shadow: var(--shadow);
    transition: var(--transition);
    filter: var(--hover);
  }
}

//链接
.cm-link,
.external-link {
  color: var(--external-link) !important;

  &:hover {
    background-color: var(--external-link-hover);
  }
}

.cm-url,
.internal-link {
  color: var(--internal-link) !important;

  &:hover {
    background-color: var(--internal-link-hover);
  }
}

.cm-url {
  font-weight: bold;
}

.cm-formatting-link,
.cm-formatting-link-string {
  color: var(--link-formatting) !important;
}


//键盘
kbd {
  user-select: none;
  padding: 0 5px !important;
}

.theme-light {
  kbd {
    box-shadow: var(--shadow-outset);
  }
}

.theme-dark {
  kbd {
    background-color: var(--file-item-selected-bg);
    border: 2px solid var(--file-item-selected);
    color: #ddd;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//标题
@for $i from 1 through 6 {

  .markdown-preview-view,
  .cm-editor {

    .cm-header-#{$i},
    h#{$i} {
      color: var(--h#{$i}-color) !important;
      font-size: var(--h#{$i}-size) !important;
      font-weight: var(--h#{$i}-weight) !important;
    }

    .HyperMD-header-#{$i} {
      padding: 4px 0 !important;
    }

    div:not(.popover) h#{$i} {
      position: relative;

      &::before {
        @include absolute-center();
        margin-left: -24px;
        font-size: .9rem;
        content: "H#{$i}";
        opacity: 0;
        transition: var(--transition);
      }

      &:hover::before {
        transition: var(--transition);
        opacity: 1;
      }
    }
  }


  @if $i==5 {

    .cm-header-#{$i},
    h#{$i} {
      font-variant: small-caps;
    }
  }

  @else if $i==6 {

    .cm-header-#{$i},
    h#{$i} {
      font-variant: small-caps;
    }
  }

}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 3px solid var(--h2-color);
}

.cm-header-5,
h5,
.cm-header-6,
h6 {
  font-weight: normal !important;
}

//==引用==
//预览
.markdown-preview-view blockquote {
  border: none !important;
  border-left: 8px solid var(--quote) !important;

  margin: {
    left: 0;
    top: 10px;
    bottom: 10px;
  }

  padding: {
    top: 15px;
    bottom: 15px;
    left: 20px;
  }
}

//编辑
.HyperMD-quote {
  border-color: var(--quote) !important;

  padding: {
    top: 10px !important;
    bottom: 10px !important;
  }
}

//表格
.markdown-preview-view table {

  width: 100% !important;

  th {
    background-color: var(--thead);
    text-align: left;

    &[align="right"] {
      text-align: right;
    }

    &[align="center"] {
      text-align: center;
    }
  }

  th,
  td {
    border: 2px solid #666;
    word-wrap: break-word;
  }
}

//列表

ul,
ol {
  padding-inline-start: 1rem;

  ul,
  ol {
    padding-inline-start: 1rem;
  }

  li {
    margin: 6px auto;

    &::marker {
      color: var(--internal-link);
    }
  }

  margin: {
    top: 2px;
    bottom: 2px;
    left: 1rem;
  }
}

ul>li>ul>li {
  list-style: square;

  ul>li {
    list-style: circle;
  }
}

//分割线
.hr.cm-line::after {
  content: "";
  width: 100%;
  height: 1px;
  border-top: var(--hr);
  border-bottom: var(--hr);
}

.markdown-preview-view hr {
  margin: 15px auto;
  border-top: var(--hr);
  border-bottom: var(--hr);
}

//标签
.markdown-preview-view a.tag {
  padding: 2px 10px;
  background-color: var(--tag);
  border-radius: 12px;
  text-decoration: none;
  transition: var(--transition);

  &:hover {
    border-radius: 6px;
  }

  @include hover()
}

.cm-line {

  .cm-hashtag-begin,
  .cm-hashtag-end {
    background-color: var(--tag);
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none !important;
    border: 2px solid var(--text-accent);
  }

  .cm-hashtag-begin {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 10px;
    border-right: none !important;
  }

  .cm-hashtag-end {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 10px;
    border-left: none !important;
  }
}

//任务列表
.HyperMD-task-line {

  // height: 1.4rem;
  // line-height: 1.4;
  padding: {
    top: 0 !important;
  }

}

.markdown-preview-view .task-list-item {
  margin: 10px auto;
}

.task-list-item-checkbox {
  filter: none;
}

//内嵌文档
.app-container .workspace .internal-embed.is-loaded {
  margin: 10px auto !important;
  border-radius: 8px;
  transition: var(--transition);

  &:hover {
    transition: var(--transition);
  }

  .markdown-embed-link,
  .file-embed-link {
    top: 16px;
  }

  &.image-embed {
    margin: 2px;
  }
}

.theme-light .internal-embed.is-loaded {
  box-shadow: var(--shadow-outset);

  &:hover {
    transition: var(--transition);
    box-shadow: 0 0 8px 2px #c0c0c0;
  }

  .markdown-embed {
    border: none;
  }

  @at-root .theme-light .app-container .workspace .markdown-preview-view {

    .excalidraw-svg,
    .internal-embed.is-loaded.image-embed {
      margin: 0 !important;
      padding: 0;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }

      img {
        padding: 6px;
        border-radius: 6px;
        box-shadow: var(--shadow-outset);
        transition: var(--transition);

        &:hover {
          transition: var(--transition);
          box-shadow: 0 0 8px 2px #c0c0c0;
        }
      }
    }
  }
}

.theme-dark .internal-embed.is-loaded {
  border: 4px solid var(--file-item-bg);

  &:hover {
    border-color: var(--file-item);
  }

  &.image-embed {
    filter: brightness(90%);
  }

  @at-root .theme-dark .app-container .workspace .markdown-preview-view {

    .excalidraw-svg,
    .internal-embed.is-loaded.image-embed {
      margin: 0 !important;
      padding: 0;
      border: none;

      &:hover {
        border: none;
      }

      img {
        padding: 6px;
        border-radius: 8px;
        border: 4px solid var(--file-item-bg);
        transition: var(--transition);

        &:hover {
          transition: var(--transition);
          border-color: var(--file-item);
        }
      }
    }
  }
}

//==高亮==
//高亮行
.cm-active.cm-line {
  background-color: var(--highlight-line) !important;
  border-radius: 4px;
}

//搜索选中高亮
.cm-s-obsidian span.obsidian-search-match-highlight,
.search-result-file-matched-text,
.is-flashing,
mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--highlight-search) !important;

  &,
  & * {
    color: #fff !important;
  }
}

.app-container .workspace .cm-editor .is-flashing,
.search-highlight div.is-active {
  font-weight: bold;
  transition: 1s all ease-out;
  background-color: unset !important;
  border: 2px solid var(--highlight-search);
  border-radius: 4px;
  color: var(--text-nomarl) !important;
}

//选中区域
pre[class*="language-"] *::selection {
  background-color: var(--text-selection) !important;
}

//行距
p,
.cm-line {
  line-height: 2rem;

  &:not(.HyperMD-list-line) {
    padding: {
      top: 0 !important;
      bottom: 0 !important;
    }
  }

  &.HyperMD-list-line {
    padding-top: 0 !important;
  }

  height: fit-content !important;
  border: 0;
}

.HyperMD-header {
  margin-top: 4px !important;
}

.HyperMD-codeblock {
  line-height: 1.8rem !important;
  font-size: 1rem !important;

  .HyperMD-codeblock .cm-formatting,
  .code-block-flair {
    color: var(--inline-code) !important;
  }
}

//光标
.cm-cursor {
  border-width: 2px !important;
}