:root {
  --font-bold: bold;
  --h1-color: #ea572a;
  --h2-color: #ee9b00;
  --h3-color: #57c302;
  --h4-color: #0993d3;
  --h5-color: #9084e9;
  --h6-color: #bc61ad;
  --h1-size: 1.8rem;
  --h2-size: 1.7rem;
  --h3-size: 1.5rem;
  --h4-size: 1.4rem;
  --h5-size: 1.3rem;
  --h6-size: 1.2rem;
  --h1-weight: var(--font-bold);
  --h2-weight: var(--font-bold);
  --h3-weight: var(--font-bold);
  --h4-weight: var(--font-bold);
  --h5-weight: var(--font-bold);
  --h6-weight: var(--font-bold);
  --transition: all 0.3s ease-in-out;
}

.theme-light {
  --text-selection: #8ec2ff6e;
  --background-primary-transparent: #fefefef0;
  --external-link: #ff9f31;
  --internal-link: #5d94ca;
  // --external-link-hover: #fc774722;
  // --internal-link-hover: #5d94ca22;

  --quote: var(--file-item-selected-bg);
  --strong: var(--red-hover);
  --thead: #ffefa9;
  --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #bcd4fd45;
  --highlight-search: #ff8851;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
  --text-highlight-bg: #34ae0066;
  --text-highlight-bg-active: #ffc40057;
}

.theme-dark {
  --text-selection: #619cd34d;

  --external-link: #ff9f31dd;
  --internal-link: #58a8fadd;
  // --external-link-hover: #ff7f5033;
  // --internal-link-hover: #58a8fa33;

  --quote: var(--file-item-selected-bg);
  --strong: var(--red-hover);
  --thead: #48576993;
  // --hr: 2px dashed var(--text-accent);
  --tag: var(--thead);
  --highlight-line: #8297bb16;
  --highlight-search: #e977428c;
  --link-formatting: var(--color-string);
  --folder-file-icon: var(--text-accent);
}

@mixin hover {
  &:hover {
    box-shadow: var(--shadow);
    transition: var(--transition);
    filter: var(--hover);
  }
}
//latex
.TEX-I {
  font-family: inherit !important;
}
//#mark 背景
.workspace-leaf-content[data-type='markdown'] {
  .markdown-embed-content {
    border-radius: 8px;
    max-height: unset;

    padding: 12px 0 !important;
    .markdown-preview-view {
      background-image: none !important;
    }
    // P:first-child {
    //   margin-top: 10px !important;
    // }
  }
}
.theme-light {
  .workspace-leaf-content[data-type='empty'] .view-content,
  .markdown-preview-view:not(.community-plugin-readme),
  .cm-editor .cm-scroller {
    background-image: linear-gradient(
      170deg,
      #d08efcbb,
      #ba92f9bb,
      #a596f4bb,
      #9397edbb,
      #8498e3bb,
      #749ee3bb,
      #67a4e0bb,
      #5fa8dbbb,
      #54b3dbbb,
      #54bed7bb,
      #5fc7d1bb,
      #72cfc9bb
    ) !important;
  }
}
.theme-dark {
  .workspace-leaf-content[data-type='empty'] .view-content,
  .markdown-preview-view:not(.community-plugin-readme),
  .cm-editor .cm-scroller {
    background-image: linear-gradient(
      170deg,
      #563e59,
      #523f5d,
      #4d4161,
      #474365,
      #404568,
      #37496b,
      #2c4d6d,
      #20506e,
      #0e556d,
      #035a6a,
      #0b5e64,
      #1d625d
    ) !important;
  }
}
body.print div .markdown-preview-view {
  background-image: none !important;
}
.markdown-preview-section {
  height: 100% !important;
}

.markdown-preview-view,
.cm-editor .cm-scroller {
  padding: 0 !important;
  background-position-y: center;
  .markdown-preview-sizer,
  .cm-contentContainer {
    background-color: var(--background-primary-transparent);
    padding: 0px 35px !important;
    max-width: 770px !important;
    min-height: 100%;
  }
}

//#mark 链接

//下划线动画
// @mixin mul-transition($attrs) {
//   transition-property: $attrs;
//   transition-duration: 0.3s;
//   transition-timing-function: ease-in-out;
// }
@mixin hover-anime {
  // $transition: color, box-shadow;
  // --c: #{$color};
  // max-width: 90%;
  // height: 26px;
  // line-height: 26px;
  // width: fit-content;
  // display: inline-block;
  // overflow: hidden;
  // word-break: keep-all;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // position: relative;
  // @include mul-transition($transition);
  border-radius: 4px;
  margin: 0 2px;
  padding: 0 2px;
  border: 2px solid var(--c);
  box-sizing: border-box;

  //https://juejin.cn/post/7116545691312193543
  //不是很清楚-2px和calc(100% + 2px)是指那种属性...有大佬明白的话麻烦告知一下orz
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0) -2px
      var(--p, 2%) / var(--s, 0%) 200% no-repeat,
    conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0)
      calc(100% + 2px) var(--p, 2%) / var(--s, 0%) 200% no-repeat !important;
  transition: 0.3s ease-in-out, background-position 0s, padding 0s,
    border-radius 0s, border 0s;
  //用伪元素实现
  // &,
  // & * {
  //   z-index: 1;
  // }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: -2px;
  //   width: 0;
  //   right: -2px;
  //   height: calc(100% + 4px);
  //   background: $color;
  //   transition: all 0.3s;
  //   border-radius: 4px;
  //   transform-origin: right;
  //   z-index: -1;
  // }
  &:hover {
    --p: 96%;
    --s: calc(50% + 0.9em);
    color: var(--background-primary) !important;
    // @include mul-transition($transition);
    box-shadow: 3px 3px 6px #00000045, -3px -3px 6px #ffffff45;
    // &:before {
    //   width: calc(100% + 4px);
    //   left: -2px;
    //   transform-origin: left;
    // }
  }
}
.is-live-preview
  .cm-line:not(.active-line)
  .cm-hmd-internal-link:not(.cm-formatting),
.markdown-preview-view .internal-link,
.is-live-preview .cm-line:not(.active-line) .cm-link:not(.cm-formatting),
.markdown-preview-view .external-link {
  @include hover-anime;
}
//外部链接
.cm-link {
  color: var(--external-link) !important;
}

.cm-link,
.external-link {
  color: var(--external-link) !important;

  &,
  .cm-underline {
    text-decoration: none !important;
  }
}
.cm-url .cm-underline,
.external-link {
  color: var(--external-link) !important;
  &:hover {
    text-decoration: underline !important;
  }
}
span.external-link {
  display: none !important;
}
.is-live-preview .cm-line .cm-link,
.markdown-preview-view .external-link {
  --c: var(--external-link);
}

//内部链接
.cm-url,//外部链接的url
.cm-hmd-internal-link,
.internal-link {
  color: var(--internal-link) !important;
  &,
  .cm-underline {
    text-decoration: none !important;
  }
}
.internal-link {
  padding: 0 4px;
}
.is-live-preview .cm-line .cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  --c: var(--internal-link);
}
.cm-formatting-link,
.cm-formatting-link-string {
  color: var(--link-formatting) !important;
  margin: 0 2px !important;
  & ~ .cm-hmd-internal-link,
  & + .cm-link {
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
    transition: none !important;
  }
}
blockquote .external-link {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  transition: none !important;
}

//键盘
kbd {
  user-select: none;
  padding: 0 4px !important;
  margin: 0 4px;
  background-color: var(--background-primary);
  line-height: 1.4rem;
  height: 1.4rem;
  font-family: var(--font-text);
}

//
.theme-light {
  kbd {
    border: 1px solid #ddd;
    box-shadow: var(--shadow-outset);
  }
}

.theme-dark {
  kbd {
    background-color: var(--file-item-selected-bg);
    border: 2px solid var(--file-item-selected-bg);
    color: #ddd;
    // line-height: 20px;
  }
}

//加粗、倾斜
.cm-strong,
.cm-em,
strong,
em {
  color: var(--strong);
  font-weight: var(--font-bold) !important;
}

div[data-type='markdown'] {
  .cm-strong,
  .cm-em,
  strong,
  em {
    color: var(--strong) !important;
  }
}

//#mark 标题
@for $i from 1 through 6 {
  h#{$i} {
    color: var(--h#{$i}-color) !important;
    font-size: var(--h#{$i}-size) !important;
    font-weight: var(--h#{$i}-weight) !important;
    line-height: 1.5;
  }

  .markdown-preview-view,
  .cm-editor {
    .cm-header-#{$i} {
      color: var(--h#{$i}-color) !important;
      font-size: var(--h#{$i}-size) !important;
      font-weight: var(--h#{$i}-weight) !important;
    }

    .HyperMD-header-#{$i} {
      padding: 4px 0 !important;
      line-height: calc(var(--h#{$i}-size) * 1.4);
    }

    @at-root .is-live-preview .HyperMD-header-#{$i},
      .workspace-leaf-content[data-type='markdown'] h#{$i} {
      position: relative;
      margin: calc(var(--h#{$i}-size) / 3) 0;

      &::before {
        position: absolute;
        border: 2px solid var(--h#{$i}-color);
        border-radius: 4px;
        z-index: 1;
        padding: {
          top: 2px;
          left: 1px;
          right: 1px;
        }

        font-size: 0.6rem;
        font-weight: var(--font-bold);
        height: 0.6rem;
        line-height: 0.6rem;
        content: 'H#{$i}';
        opacity: 0;
        transition: var(--transition);
        top: calc(48%);
        transform: translateY(-50%);
        left: -20px;
      }

      &:hover::before {
        transition: var(--transition);
        opacity: 0.8;
      }
    }

    @at-root .is-live-preview .HyperMD-header-#{$i} {
      padding-left: 4px !important;
    }

    @at-root .theme-light {
      .is-live-preview .HyperMD-header-#{$i}::before,
      .workspace-leaf-content[data-type='markdown'] h#{$i}::before {
        color: var(--h#{$i}-color);
      }
    }

    @at-root .theme-dark {
      .is-live-preview .HyperMD-header-#{$i}::before,
      .workspace-leaf-content[data-type='markdown'] h#{$i}::before {
        background-color: var(--h#{$i}-color);
        color: #fff;
      }
    }
  }
}

// 折叠

.heading-collapse-indicator {
  position: absolute;
  z-index: 99;
  height: 16px;
  width: 18px;
  top: 9px;
  left: 10px;
  padding: 0 !important;
  svg {
    display: none;
  }
}
.HyperMD-header {
  position: relative;
  .cm-fold-indicator .collapse-indicator {
    z-index: 99;
    opacity: 0 !important;
    width: 24px;
    height: 14px !important;
    padding-right: 6px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}
.cm-editor .cm-line .cm-formatting-header {
  filter: grayscale(70%);
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.2rem;
}
h1 {
  text-align: center;
}

h2,
.HyperMD-header-2 {
  // border-bottom: 3px solid var(--h2-color);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      var(--h2-color) 30%,
      transparent 70%
    );
  }
}
h2 {
  margin-bottom: 16px !important;
  &::after {
    bottom: -4px;
    left: 0;
  }
}
.HyperMD-header-2::after {
  bottom: 6px;
  left: 4px;
}

.modal-container h2::after {
  height: 4px;
}
.vertical-tab-content h2 {
  text-align: unset;
}
// .cm-header-5,
// h5,
// .cm-header-6,
// h6 {
//   font-weight: normal !important;
// }

.cm-header-6,
h6 {
  font-variant: small-caps;
}

//#mark 引用quote
.markdown-preview-view blockquote {
  background-color: var(--background-primary-alt);
  border: none !important;
  // border-left: 6px solid var(--quote) !important;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #00000045, -1px -1px 2px #dddddd44;
  transition: var(--transition);
  margin-inline-end: 0;
  position: relative;
  margin: {
    left: 0;
    top: 10px;
    bottom: 10px;
  }
  padding: {
    top: 5px;
    bottom: 5px;
    left: 70px;
  }
  &::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 6px;
    height: calc(100% - 6px);
    width: 6px;
    background-color: var(--text-accent);
  }
  &:hover {
    box-shadow: 2px 2px 4px #00000045, -2px -2px 4px #dddddd44;
    transform: translateY(-2px);
  }
}
.is-live-preview .HyperMD-quote:not(.callout) {
  padding-left: 60px !important;
  border-left: none !important;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background-color: var(--text-accent);
  }
}
.is-live-preview {
  div:not(.HyperMD-quote) + .HyperMD-quote:not(.cm-active),
  .cm-content :first-child:is(.HyperMD-quote):not(.cm-active) {
    @at-root :not(.callout-content) > blockquote::before,
      & > .cm-formatting.cm-formatting-quote.cm-quote::before {
      position: absolute;
      font: 14px/20px italic Times, serif;
      content: '“';
      font-size: 4em;
    }
    & > .cm-formatting.cm-formatting-quote.cm-quote::before {
      left: -12px;
      top: 20px;
    }
    @at-root blockquote:before {
      left: -4px;
      top: 24px;
    }
  }
  .HyperMD-callout .cm-quote::before {
    content: none !important;
  }
}
//#mark 表格
.markdown-preview-view table {
  overflow: hidden;
  resize: both !important;
  margin: 30px 0;
}
.markdown-embed table,
.markdown-embed table:hover {
  transform: none !important;
  box-shadow: none !important;
  resize: none !important;
}
.cm-embed-block table,
.markdown-preview-view table {
  width: calc(100% - 8px);
  margin-left: 4px;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #00000045, -1px -1px 2px #dddddd44;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 4px #00000045, -2px -2px 4px #dddddd44;
  }

  th,
  td {
    border: none;
    border-bottom: 2px solid var(--background-secondary-alt);
    word-wrap: break-word;
    padding: 4px !important;
  }

  th {
    background-color: var(--thead);
    text-align: left;
    border-bottom-color: var(--text-faint);

    &[align='right'] {
      text-align: right;
    }

    &[align='center'] {
      text-align: center;
    }
  }
}

//#mark 列表
ul,
ol {
  padding-inline-start: 1.8rem;

  margin: {
    top: 2px;
    bottom: 2px;
  }

  ul,
  ol {
    padding-inline-start: 1.8rem;
  }

  li {
    margin: 6px auto;
    line-height: 1.8rem;

    &::marker {
      font-family: var(--font-monospace) !important;
      color: var(--text-accent);
    }
  }
}

ul {
  padding-inline-start: 1rem;
}

ul.contains-task-list {
  padding-inline-start: 1.4rem;
  margin-inline-start: 0 !important;
}

ul > li > ul > li {
  list-style: square;

  ul > li {
    list-style: circle;
  }
}
.markdown-rendered.show-indentation-guide li {
  & > ul::before {
    left: -0.9em;
  }
  & > ol::before {
    left: -1.8em;
  }
}
.markdown-source-view.mod-cm6 {
  .HyperMD-list-line {
    .list-bullet:after {
      right: -1px;
      font-size: 0.8rem;
      top: 50%;
      transform: translateY(-56%);
      color: var(--text-accent);
      font-family: var(--font-monospace), consolas !important;
    }
  }

  .HyperMD-list-line-1 .list-bullet:after {
    content: '\25cf';
  }

  .HyperMD-list-line-2 .list-bullet:after {
    font-weight: var(--font-bold);
    content: '\25cb';
  }

  .HyperMD-list-line-3 .list-bullet:after {
    font-size: 0.6rem;
    right: 0.2px;
    content: '\25a0';
  }

  .HyperMD-list-line-4 .list-bullet:after {
    font-weight: var(--font-bold);
    content: '\25a1';
  }

  // .cm-hmd-list-indent {
  //   .cm-indent {
  //     padding-right: 10px;
  //   }
  // }

  .cm-formatting-list {
    color: var(--text-accent);
    font-family: var(--font-monospace);
  }
}

.cm-hmd-list-indent {
  tab-size: 8;
}

.cm-line {
  .list-collapse-indicator {
    padding-right: 10px !important;
  }
  .collapse-indicator {
    margin-top: -2px;
    padding-right: 8px !important;
  }
}

li {
  position: relative;
}
ol li {
  .list-collapse-indicator {
    margin-top: -2px !important;
    transition: var(--transition);
    margin-left: -54px !important;
    opacity: 0;
  }
  &:hover > .list-collapse-indicator {
    opacity: 1;
  }
}
ul li {
  .list-collapse-indicator {
    margin-top: -2px !important;
    opacity: 0;
  }
  &:hover > .list-collapse-indicator {
    opacity: 1;
    transition: var(--transition);
  }
}
//分割线
.markdown-preview-view,
.is-live-preview {
  hr {
    overflow: visible;
    line-height: 0;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    // border-bottom: 2px solid;
    border-width: 3px;
    border-image: linear-gradient(
        to right,
        transparent 0,
        var(--text-accent) 46%,
        transparent 46%,
        transparent 54%,
        var(--text-accent) 54%,
        transparent 100%
      )
      1;
    &::after {
      content: '🌟';
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.markdown-preview-view hr::after {
  font-size: 1rem;
  position: relative;
}

//标签
.markdown-preview-view a.tag {
  padding: 2px 10px;
  background-color: var(--tag);
  // border: var(--border) !important;
  border-radius: 999px;
  text-decoration: none;
  transition: var(--transition);
  border: 2px solid var(--text-accent);

  &:hover {
    background-color: var(--tag) !important;
    color: var(--text-nomarl) !important;
  }

  @include hover();
}

$radius: 999px;

.cm-line {
  .cm-hashtag-begin,
  .cm-hashtag-end {
    font-family: var(--font-interface) !important;
    background-color: var(--tag);
    // padding-top: 2px;
    // padding-bottom: 2px;
    text-decoration: none !important;
    border: 2px solid var(--text-accent);
  }

  .cm-hashtag-begin {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    padding-left: 4px;
    border-right: none !important;
  }

  .cm-hashtag-end {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    padding-right: 4px;
    border-left: none !important;
  }
}

//任务列表
.HyperMD-task-line {
  padding: {
    top: 0 !important;
  }
}

.markdown-preview-view .task-list-item {
  margin: 10px auto;
}

.task-list-item-checkbox {
  filter: none;
  transform: translateY(-0.1rem);
}

//#mark 内嵌文档
.internal-embed.is-loaded {
  // margin: 10px auto !important;
  border-radius: 8px;
  transition: var(--transition);
  padding: 2px !important;

  .markdown-embed-link,
  .file-embed-link {
    opacity: 0;
    top: 6px;
    right: 5px;
    padding: 4px;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    transition: var(--transition);
    color: var(--text-normal);
  }
  .markdown-embed-title {
    opacity: 0;
    position: absolute;
    z-index: 999;
    width: fit-content;
    right: 30px;
    left: unset;
    font-size: 1rem;
    top: 6px;
    line-height: 28px;
    height: 28px;
    padding: 0 8px;
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
    &:hover {
      box-shadow: none !important;
      border: none !important;
      background-color: inherit !important;
    }
  }
  &:hover {
    transition: var(--transition);

    .markdown-embed-title,
    .markdown-embed-link,
    .file-embed-link {
      opacity: 1;

      &:hover {
        background-color: var(--file-item-bg);
        box-shadow: var(--shadow);
      }
    }
  }

  img,
  .markdown-embed,
  .file-embed {
    border-radius: 12px;
    transition: var(--transition);
    margin: 0;
    padding: 0;
    .markdown-preview-view {
      padding: 10px 20px;
    }
  }
  .markdown-embed,
  .file-embed {
    margin: 8px 0;
    border: 3px solid;
    border-color: var(--file-item-bg);
    background-color: var(--background-primary);
    &:hover {
      border-color: var(--text-accent);
      box-shadow: 2px 2px 4px #00000045, -2px -2px 4px #dddddd44;
      transform: translateY(-2px);
    }
    .frontmatter + div {
      display: none;
    }
  }
  &.image-embed {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  :not(.excalidraw-svg) &.image-embed img:hover {
    box-shadow: 2px 2px 4px #00000045, -2px -2px 4px #dddddd44;
    transform: translateY(-2px);
  }
  @at-root .theme-light {
    img,
    .markdown-embed,
    .file-embed {
      border: 0;
    }
  }

  @at-root .theme-dark {
    img,
    .markdown-embed,
    .file-embed {
      border: 2px solid var(--file-item-selected-bg);
    }
  }

  //  {
  //   border-bottom: 4px solid var(--file-item-bg);

  //   margin: {
  //     left: 10px;
  //     right: 19px;
  //   }

  //   width: calc(100% - 29px);
  // }
  /*删除内嵌文档节选的第一行*/
  .markdown-embed-heading .markdown-preview-section {
    min-height: unset !important;
    & > div:nth-child(2) {
      // display: none;
      position: absolute;
      right: 36px;
      top: -12px;
      z-index: 99;
      opacity: 0;
      transition: var(--transition);
      * {
        font-size: 1.1rem !important;
        cursor: pointer;
        &::before {
          content: none !important;
        }
      }
    }
  }
  .markdown-embed:hover
    .markdown-embed-heading
    .markdown-preview-section
    > div:nth-child(2) {
    opacity: 1;
  }
  svg.link {
    transform: rotate(90deg) translateX(-1px);
  }
}
.markdown-embed img:hover {
  box-shadow: none !important;
  transform: none !important;
}
//==高亮==
//高亮行
.cm-active.cm-line {
  background-color: var(--highlight-line) !important;
  border-radius: 4px;
}

//搜索选中高亮
.cm-s-obsidian span.obsidian-search-match-highlight,
.search-result-file-matched-text,
.is-flashing,
mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--highlight-search) !important;
  color: #fff !important;
  border-radius: 2px;
  * {
    color: #fff !important;
    background-color: transparent !important;
  }
}

.app-container .workspace .cm-editor .is-flashing,
.search-highlight div.is-active {
  font-weight: var(--font-bold);
  transition: 0.3s all ease-out;
  // background-color: unset !important;
  border: 2px solid var(--highlight-search);
  border-radius: 4px;
  color: var(--text-nomarl) !important;
}

//选中区域
pre[class*='language-'] *::selection {
  background-color: var(--text-selection) !important;
}

//行距
p,
.cm-line {
  line-height: 2rem;
  margin: 10px 0;

  &:not(.HyperMD-list-line):not(.HyperMD-header):not(.HyperMD-quote) {
    padding: {
      top: 0 !important;
      bottom: 0 !important;
    }
  }

  &.HyperMD-list-line {
    padding-top: 0 !important;
  }

  height: fit-content !important;
  border: 0;
}

.HyperMD-codeblock {
  line-height: 1.8rem !important;
  font-size: 1rem !important;

  .HyperMD-codeblock .cm-formatting,
  .code-block-flair {
    color: var(--inline-code) !important;
    font-family: var(--font-text);
  }
}

//光标
.cm-cursor {
  border-width: 2px !important;
  border-color: var(--text-accent) !important;
}

//编辑代码块
.markdown-source-view.mod-cm6 .cm-embed-block {
  border: 0;
  padding: 4px 0;

  .edit-block-button {
    padding: 1px;
    top: 1px;
    border-radius: 20px;
    right: 0px;

    &::before {
      width: 28px;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      text-align: center;
      content: '</>';
    }

    & > svg {
      display: none;
    }
  }
}
