/* 代码类型显示 */

pre {
    position: relative;
}

pre[class*="language-"]:before {
    font-weight: bold;
    position: absolute;
    box-sizing: border-box;
    letter-spacing: 1px;
    padding-left: 14px;
    width: 100%;
    left: 10px;
    height: 1.8rem;
    line-height: 1.8rem;
    top: 0px;
    background-color: #d1eafc;
    color: #222;
    margin-left: -10px;
    font-family: "苹方-简", "Microsoft YaHei";
}


/* 复制代码按钮*/

.copy-code-button {
    box-sizing: border-box;
    letter-spacing: 3px;
    font-family: "苹方-简", "Microsoft YaHei";
    font-size: .8rem !important;
    padding: 0 !important;
    padding-left: 5px !important;
    border-radius: 4px !important;
    width: 50px;
    height: 1.4rem;
    line-height: 1.4rem;
    top: .2rem !important;
    right: .2rem !important;
    margin: 0px !important;
    color: aliceblue !important;
    display: unset !important;
    background-color: rgb(135, 191, 255) !important;
    transition: all 0.2s ease-in;
}

.copy-code-button:hover {
    background-color: rgb(84, 164, 255) !important;
    box-shadow: 2px 2px 2px 0px #777 inset;
    transition: all 0.2s ease-in;
}


/*预览代码块*/

.markdown-preview-section pre {
    padding: .8rem!important;
}

.markdown-preview-section pre[class*="language-"] {
    padding-top: 2.6rem !important;
}

.markdown-preview-section pre[class*="language-"] code {
    padding: .3rem !important;
    font-size: 1rem;
}


/* 编辑代码块 */

.cm-s-obsidian .HyperMD-codeblock>span {
    /* padding-left: 8px; */
    line-height: 30px !important;
}

.cm-s-obsidian .HyperMD-codeblock>span * {
    font-size: 1rem;
}


/* 标注类型 */

pre[class*='language-']:before {
    content: "未知语言";
}

pre[class~='language-c']:before {
    content: "C";
}

pre[class~='language-properties']:before {
    content: "Properties";
}

pre[class~='language-python']:before {
    content: "Python";
}

pre[class~='language-nginx']:before {
    content: "Nginx";
}

pre[class~='language-css']:before {
    content: "CSS";
}

pre[class~='language-js']:before,
pre[class~='language-javascript']:before {
    content: "Js";
}

pre[class~='language-php']:before {
    content: "PHP";
}

pre[class~='language-lua']:before {
    content: "Lua";
}

pre[class~='language-shell']:before {
    content: "Shell";
}

pre[class~='language-powershell']:before {
    content: "PowerShell";
}

pre[class~='language-flow']:before {
    content: "Flow";
}

pre[class~='language-sequence']:before {
    content: "Sequence";
}

pre[class~='language-sql']:before {
    content: "SQL";
}

pre[class~='language-yml']:before,
pre[class~='language-yaml']:before {
    content: "Yaml";
}

pre[class~='language-ini']:before {
    content: "ini";
}

pre[class~='language-xml']:before {
    content: "Xml";
}

pre[class~='language-git']:before {
    content: "Git";
}

pre[class~='language-cs']:before {
    content: "C#";
}

pre[class~='language-cpp']:before {
    content: "C++";
}

pre[class~='language-java']:before {
    content: "Java";
}

pre[class~='language-html']:before {
    content: "Html";
}

pre[class~='language-text']:before,
pre[class~='language-txt']:before {
    content: "TXT";
}

pre[class~='language-markdown']:before,
pre[class~='language-md']:before {
    content: "Markdown";
}

pre[class~='language-bat']:before {
    content: "Bat";
}

pre[class~='language-json']:before {
    content: "Json";
}

pre[class~='language-groovy']:before {
    content: "Groovy";
}


/* minimal 主题高亮 */

.theme-light code[class*="language-"],
.theme-light pre[class*="language-"] {
    color: #004f90;
}

.theme-light .token.namespace {
    color: #004f90;
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
    background-color: unset !important;
}

.theme-light .token.number {
    font-weight: bold;
}

.theme-light .token.number,
.theme-light .token.tag {
    color: #b63a00;
}

.theme-light .token.atrule,
.theme-light .token.attr-value,
.theme-light .token.keyword {
    color: #222;
}

.theme-light .token.class-name {
    color: #db9808;
}

.theme-light .token.function {
    color: #b26fc7;
}

.theme-light .token.selector,
.theme-light .token.attr-name,
.theme-light .token.string,
.theme-light .token.char,
.theme-light .token.builtin,
.theme-light .token.inserted {
    color: #57C302;
}