/*应用标题栏*/

body:not(.hider-frameless):not(.is-fullscreen):not(.is-mobile) {
    padding-top: 30px !important;
    --titlebar-height: 30px !important;
}

.titlebar * {
    color: #000;
    font-weight: bold;
}

.titlebar-text {
    display: block;
    padding-top: 0;
    line-height: 30px;
    font-weight: bolder;
}

body:not(.is-mobile) .titlebar {
    background-color: #cfcfcf !important;
    height: 28px !important;
    line-height: 28px !important;
}

.titlebar-button-container.mod-left>.titlebar-button {
    margin: 0 12px;
}

.titlebar-button-container.mod-left>.titlebar-button svg {
    width: 18px !important;
    height: 18px !important;
}

.titlebar-button .mod-back:hover,
.titlebar-button .mod-forward:hover {
    color: #fff;
}

.mod-minimize,
.mod-maximize,
.mod-close {
    margin: 3px;
    height: 24px !important;
    border-radius: 5px !important;
}


/*搜索栏*/

.view-content .is-searching,
.view-content .is-replacing {
    position: relative;
    margin-top: 0;
}

.document-search-container {
    position: absolute !important;
    top: 10px !important;
    right: 30px;
    border: none;
    background-color: #f0f0f0 !important;
    border-left: 5px solid #a9c9ff;
    border-radius: 2px;
    width: 400px !important;
    left: unset;
    padding: 3px !important;
    box-shadow: 3px 3px 5px #c7c7c7;
}

body:not(.is-mobile) .document-search,
body:not(.is-mobile) .document-replace {
    margin: inherit;
    width: 100%;
    max-width: inherit;
}

.document-search-container input {
    width: 40%;
    margin-left: 0px;
}

.document-replace>div>button:nth-child(2) {
    margin-right: 0;
}

.document-search-button,
.document-search-close-button {
    border: 1px solid #ccc;
    line-height: 26px;
    transition: all 0.2s ease-in;
}

.document-search-button:hover,
.document-search-close-button:hover {
    box-shadow: 2px 2px 2px 0px #777 inset;
    transition: all 0.2s ease-in;
}

.document-search>div>button:nth-child(3) {
    display: none;
}

.document-search-close-button::before {
    transform: translate(-1%, -7%);
}

.document-search-close-button:hover {
    background-color: orange;
}

.document-search-close-button:hover::before {
    color: #fff;
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    padding: 5px !important;
    border-color: #ccc;
}

.CodeMirror-scroll {
    padding-bottom: 100px;
}

body input.document-search-input.mod-no-match,
body input.document-search-input.mod-no-match:hover {
    background-color: rgb(255, 0, 0, .3);
}


/*右键面板*/

.menu {
    border-radius: 9px;
    padding: 8px 6px;
}

.menu-item {
    border-radius: 4px;
    height: 36px;
    line-height: 35px;
}

.menu-item-title {
    font-size: 13px;
}

.menu-item.is-disabled {
    color: rgba(114, 114, 114, 0.3);
    box-shadow: none;
}

.selected {
    font-weight: 400 !important;
    box-shadow: 1px 1px 2px 0px #414141 inset;
}


/* 状态栏 */

.status-bar {
    box-shadow: 1px 1px 10px 2px;
    padding: 0 15px !important;
}

.status-bar * {
    font-size: 14px;
}


/* 面板标题 */

.workspace-leaf.mod-active .view-header {
    border-top: 3px solid #a9c9ff;
    box-shadow: -6px -6px 17px 0px;
    transition: all 0.2s;
}

.workspace-leaf-content[data-type='markdown'] .view-content {
    padding-top: 5px;
}

.workspace-leaf-content[data-type='file-explorer'] .nav-buttons-container,
.workspace-leaf-content[data-type='search'] .nav-buttons-container,
.workspace-leaf-content[data-type='backlink'] .nav-buttons-container {
    box-shadow: 1px 1px 9px -3px;
}

.workspace-tab-header.is-active,
.workspace-tab-header.is-active:hover {
    color: #000;
}

.graph-controls-button,
.view-header-icon,
.workspace-tab-header-inner-icon,
.side-dock-ribbon-action,
.workspace-ribbon-collapse-btn,
.view-actions a {
    transition: all 0.2s ease-in !important;
}

.graph-controls-button:hover,
.view-header-icon:hover,
.workspace-tab-header-inner-icon:hover,
.side-dock-ribbon-action:hover,
.workspace-ribbon-collapse-btn:hover,
.view-actions a:hover {
    box-shadow: 1px 1px 2px 0px #414141 inset;
    transition: all 0.2s ease-in !important;
}


/* 滚动条 */

 ::-webkit-scrollbar {
    width: 8px !important;
    margin-right: 2px !important;
    transform: translateX(-2px);
}

 ::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);
    background-clip: border-box;
    border-radius: 8px;
}

 ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(102, 102, 102);
}

 ::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgb(63, 63, 63);
}

 ::-webkit-scrollbar-button {
    display: none;
}


/* 面板分隔条 */


/* .workspace-split.mod-vertical>*>.workspace-leaf-resize-handle,
.workspace-split.mod-left-split>.workspace-leaf-resize-handle,
.workspace-split.mod-right-split>.workspace-leaf-resize-handle {
    width: 4px !important;
} */


/* .workspace-split.mod-horizontal>*>.workspace-leaf-resize-handle {
    height: 4px;
} */

.workspace-ribbon-collapse-btn>svg {
    transform: translateY(-3px);
}


/* advanced table */

.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-buttons-container {
    display: flex;
    border: 0 !important;
    margin: 0 30px;
}

.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-action-button {
    flex: 1;
    max-width: 50px;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
}

.nav-action-button:hover,
.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-action-button:hover {
    box-shadow: 2px 2px 2px 0px #777 inset;
    transition: all 0.2s ease-in;
}


/* excalidraw */

.excalidraw .context-menu-option .context-menu-option__shortcut {
    color: #000 !important;
}

.workspace-split.mod-root .view-content .excalidraw.excalidraw-container * {
    font-family: "苹方-简" !important;
}


/* 文章标题 */

body.minimal-folding:not(.plugin-sliding-panes-rotate-header) .view-header-title {
    padding-left: 0;
}


/* 右面板按钮 */

.workspace-ribbon.mod-right {
    right: 15px;
}


/* 提示框 */

.tooltip {
    max-width: fit-content;
}