//advanced-tables
.workspace-leaf-content[data-type='advanced-tables-toolbar'] {
  .nav-header {
    box-shadow: none !important;
    padding: 0;
  }

  .nav-buttons-container {
    display: flex;
    border: 0 !important;
    margin: 0 30px;
  }

  .nav-action-button {
    flex: 1;
    max-width: 50px;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
  }
}

//#mark git
.workspace-leaf-content[data-type='git-view'] {
  .opener {
    position: relative;

    padding: {
      left: 20px !important;
      top: 5px !important;
      bottom: 5px !important;
      right: 15px !important;
    }
  }
  .nav-action-button {
    padding: 5px 7px 0 8px;
  }

  .tree-item-self {
    &:hover {
      background-color: var(--fold-item-bg);
      box-shadow: var(--shadow-inset);
    }

    .collapse-icon {
      width: 24px;
    }

    // .tree-item-flair {
    //   line-height: 15px;
    // }
  }

  .git-view-body {
    padding-left: 8px !important;
    padding-right: 10px !important;

    @mixin dark-item-end($color) {
      content: '';
      width: 4px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $color;
      border-radius: 5px;
    }

    .file-view {
      margin-left: 0;

      & > main {
        position: relative;

        padding: {
          top: 3px;
          bottom: 3px;
          // right: 16px;
          left: 8px;
        }

        .opener {
          font-weight: bold;
        }

        .tools {
          .svelte-1furf50,
          .svelte-15heedx {
            &:not([data-type='M']):hover {
              color: #fff;
            }
          }

          span {
            transform: translateY(1.2px);
          }
        }
        &.svelte-15heedx,
        &.svelte-1furf50 {
          padding-right: 16px;

          &:hover {
            background-color: var(--file-item-bg);
            box-shadow: var(--shadow-inset);

            &::after {
              @include dark-item-end(var(--file-item));
            }
          }
        }
      }
    }
  }
}

//#mark excalidraw
.excalidraw-svg img {
  border: 3px solid var(--fold-item-bg) !important;
  border-radius: 12px;
}
.excalidraw {
  .context-menu {
    box-shadow: var(--shadow-outset) !important;
    border: none !important;
    padding: 5px 0 !important;

    li {
      padding: 4px !important;

      button {
        border-radius: 6px;
        padding: 4px;
        padding-left: 24px;

        & > div {
          margin-inline-end: 4px !important;
        }

        kbd {
          border: 0;
          box-shadow: none;
        }
      }
    }

    .context-menu-option:hover {
      background-color: var(--file-item-bg);
      color: var(--text-normal);

      kbd {
        background-color: var(--background-primary) !important;
      }
    }
  }

  h3 {
    font-weight: bold !important;
    color: inherit !important;
    &::before {
      content: none;
    }
  }
  .panelColumn {
    h3,
    legend,
    .control-label {
      font-size: 0.9rem !important;
    }
  }
}

.theme-light .context-menu-option:hover kbd {
  box-shadow: var(--shadow-outset);
}

.excalidraw-svg img {
  box-shadow: none;
}

// quick explorer
// #quick-explorer {
//   align-items: center;
//   border-radius: 4px;
//   margin-left: 20px;
//   line-height: 16px;

//   span {
//     padding: 2px 0 !important;
//     padding-left: 1kpx !important;
//     margin: 0 !important;
//     border-radius: 2px;
//   }
// }

//#mark calendar
#calendar-container {
  & * {
    transition: none;
  }

  .day {
    margin: 2px;
    padding: 2px;
    border-radius: 6px;

    &.has-note.active:not(.today) {
      background-color: var(--file-item-bg) !important;
      color: #333;
    }

    &:hover {
      background-color: var(--file-item-bg) !important;
      box-shadow: var(--shadow-inset);
    }

    &.today {
      background-color: var(--interactive-accent);
      color: #fff;

      &:hover {
        background-color: var(--interactive-accent-hover);
        color: #333;

        .dot-container {
          .filled {
            stroke: var(--color-dot) !important;
            fill: var(--color-dot) !important;
          }

          .hollow {
            stroke: var(--color-dot) !important;
            fill: none;
          }
        }
      }

      .dot-container {
        .filled {
          stroke: #fff !important;
          fill: var(--file-item-bg) !important;
        }

        .hollow {
          stroke: #fff !important;
          fill: none;
        }
      }
    }
  }

  .nav {
    padding: 0;

    margin: {
      top: -4px;
      bottom: 8px;
    }

    .title {
      display: flex;
      flex-direction: row-reverse;
      font-weight: normal;
      font-size: 1.2rem;

      .year {
        color: var(--text-normal);

        &::after {
          content: '年';
          margin-right: 4px;
        }
      }
      .month {
        font-weight: bold;
        color: var(--interactive-accent);
      }
    }
  }

  thead {
    * {
      font-size: 0.7rem;
    }
    border-bottom: 2px solid var(--text-accent);
  }

  .reset-button {
    font-size: 0.9rem;
  }
}

//#mark day planner
.theme-light {
  --day-planner-pie: #eee;
  --day-planner-timeline: #111;
  --day-planner-line: #eee;
  --day-planner-dot: #eee;
  --day-planner-item-hover: #345e96;
  --event-item-color1: #283493bb;
  --event-item-color2: #1565c0bb;
  --event-item-color3: #00838fbb;
  --event-item-color4: #2e7d32bb;
  --event-item-color5: #9e9d24bb;
  --event-item-color6: #ff8f00bb;
  --event-item-color7: #d84315bb;
  --event-item-color8: #c62828bb;
  --event-item-color9: #ad1457bb;
  --event-item-color10: #6a1b9abb;
}

.theme-dark {
  --day-planner-pie: #eca95c;
  --day-planner-timeline: #d62f2f;
  --day-planner-line: #ffd900;
  --day-planner-dot: #ffd900;
  --day-planner-item-hover: #8fccffbb;
  --event-item-color1: #65ace6bb;
  --event-item-color2: #52a4e7bb;
  --event-item-color3: #2e96ebbb;
  --event-item-color4: #2786dabb;
  --event-item-color5: #1275ccbb;
  --event-item-color6: #2664c0bb;
  --event-item-color7: #1652acbb;
  --event-item-color8: #0c469cbb;
  --event-item-color9: #0a3c86bb;
  --event-item-color10: #072f6bbb;
}

.plugin-obsidian-day-planner {
  padding-top: 0 !important;
}

.day-planner-progress-bar {
  margin-top: 0 !important;
}

.status-bar-item-segment.day-planner-status-bar-text {
  font-size: 0.9rem !important;
}

.status-bar-item-segment.day-planner-progress-bar {
  transform: translateY(2.5px);
}

#scroll-controls.svelte-e43ld1 label.svelte-e43ld1 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#scroll-controls.svelte-e43ld1 {
  padding-top: 10px !important;

  .toggle.svelte-e43ld1 {
    height: 24px !important;
    width: 54px !important;
    margin: 0 !important;
    margin-top: 2px !important;
  }
}

.workspace-leaf-content[data-type='timeline'] .view-content {
  padding: 0 !important;
}

.progress-pie.day-planner {
  background-color: var(--day-planner-pie);
  float: left;
  height: 20px;
  margin: 0.3px 10px 0.3px 0;
  width: 20px;
  display: none;
}

.aside__line {
  background: var(--day-planner-dot) !important;
  left: 35px !important;
}

.ei_Dot {
  background-color: var(--day-planner-line) !important;
  left: 28px !important;
}

.ei_Title {
  font-size: 15px !important;
  margin-left: -10px !important;
}

.ei_Copy {
  font-size: 15px !important;
  margin-left: 5px !important;
}

.event_item {
  overflow: hidden !important;
}

#now-line,
.timeline-time {
  background-color: var(--day-planner-timeline) !important;
}

.event_item:hover {
  background-color: var(--day-planner-item-hover) !important;
  box-shadow: 0px 0px 52px -18px #000000bf;
}

@for $i from 1 through 10 {
  .event_item_color#{$i} {
    background-color: var(--event-item-color#{$i}) !important;
  }
}

.status-bar-item.plugin-obsidian-day-planner {
  strong {
    color: var(--text-accent) !important;
  }
  .day-planner-status-card {
    background-color: var(--file-item-bg) !important;
    filter: brightness(106%);
    .arrow-down {
      border-top-color: var(--file-item-bg);
    }
  }
  .day-planner-status-bar-text {
    margin-top: 0px !important;
  }
  @media screen and (max-width: 764px) {
    display: none !important;
  }
  @media screen and (min-width: 764px) {
    position: absolute !important;
    left: 8px;
  }
}

//#mark memos
.dialog-wrapper.showup {
  backdrop-filter: blur(10px);
}
.workspace-leaf-content[data-type='memos_view'] {
  .view-header {
    a:hover {
      background-color: transparent;
    }
  }
  * {
    font-family: var(--font-interface) !important;
  }
  .view-content {
    padding: {
      left: 40px;
      top: 0;
      bottom: 0;
      right: 0;
    }
    @at-root .theme-light
        .workspace-leaf-content[data-type='memos_view']
        .view-content {
      background-image: linear-gradient(
        160deg,
        #3f9bc599,
        #26a6c999,
        #02b2ca99,
        #00bcc799,
        #1cc6c199,
        #3bccbd99,
        #51d2b999,
        #65d7b599,
        #76dbb599,
        #86dfb699,
        #94e3b799,
        #a2e7b999
      );
    }
    @at-root .theme-dark
        .workspace-leaf-content[data-type='memos_view']
        .view-content {
      background-image: linear-gradient(
        160deg,
        #3f9bc566,
        #26a6c966,
        #02b2ca66,
        #00bcc766,
        #1cc6c166,
        #3bccbd66,
        #51d2b966,
        #65d7b566,
        #76dbb566,
        #86dfb666,
        #94e3b766,
        #a2e7b966
      ) !important;
    }
    .tag-span {
      font-family: var(--font-monospace) !important;
      border-radius: 12px !important;
      padding: 0 10px !important;
      margin: 0 6px 0 0 !important;
      background-color: var(--file-item-bg) !important;
      color: var(--text-accent) !important;
      filter: brightness(108%);
      transition: var(--transition);
      &:hover {
        transition: var(--transition);
        background-color: var(--text-accent) !important;
        color: var(--background-primary) !important;
      }
    }
    a {
      border-radius: 4px;
      color: var(--c);
      padding: 0 2px;
      border: 2px solid var(--c);
      box-sizing: border-box;
      text-decoration: none;
      background: conic-gradient(
            from -135deg at 100% 50%,
            var(--c) 90deg,
            #0000 0
          ) -2px var(--p, 2%) / var(--s, 0%) 200% no-repeat,
        conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0)
          calc(100% + 2px) var(--p, 2%) / var(--s, 0%) 200% no-repeat !important;
      transition: 0.3s ease-in-out, background-position 0s, padding 0s,
        border-radius 0s, border 0s;
      &:hover {
        --p: 96%;
        --s: calc(50% + 0.9em);
        color: var(--background-primary) !important;
        box-shadow: 3px 3px 6px #00000045, -3px -3px 6px #ffffff45;
      }
      &.link {
        --c: var(--external-link);
      }
      &.internal-link {
        --c: var(--internal-link);
      }
    }
    .icon-text {
      font-family: var(--font-monospace) !important;
    }
    #page-wrapper {
      margin-top: 0;
      justify-content: center;
    }
    .content-wrapper {
      margin-top: 6px !important;
      .section-header-container {
        margin-top: 6px;
        .title-text {
          font-size: 24px;
          margin-top: 4px;
          color: #fff;
        }
      }
      .memolist-wrapper {
        border-radius: 8px;
        .memo-wrapper {
          padding: 10px 16px;
          position: relative;
        }
        &.completed {
          padding-bottom: 12px;
        }
        .memo-top-wrapper {
          margin-bottom: 6px;
        }
        .memo-content-text {
          * {
            line-height: 1.6rem;
          }
          @media screen and (min-width: 550px) {
            p:first-child {
              position: absolute;
              top: 12px;
              right: 36px !important;
              width: fit-content;
            }
          }
          @at-root .workspace-leaf-content[data-type='memos_view']:not(.mobile-view)
              .memolist-wrapper
              .memo-content-text
              p:first-child {
            position: absolute;
            top: 12px;
            right: 36px !important;
            width: fit-content;
          }
        }
        .status-text-container {
          margin: 4px 0;
          &::before {
            content: '-- 🎉已到达世界尽头🎉 --';
          }
          p {
            display: none;
          }
        }
      }
      .filter-query-container {
        .filter-query {
          .filter-item-container {
            background-color: antiquewhite;
            border-radius: 16px;
            max-width: fit-content;
          }
          .tip-text {
            color: #fff;
            font-weight: bold;
            margin-right: 10px;
          }
        }
        .copy-memo {
          display: flex;
        }
      }
    }
    .memos-sidebar-wrapper {
      padding: 12px 0 0;
      & > div {
        background-color: var(--background-primary);
        &.user-banner-container {
          height: 150px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          p.username-text {
            line-height: 30px;
          }
        }
        &.usage-heat-map-wrapper {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          margin-bottom: 10px;
          padding-right: 0px;
          justify-content: center;
        }
        &.queries-wrapper,
        &.tags-wrapper {
          border-radius: 8px;
          margin-bottom: 10px;
          & > div {
            height: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 0 !important;
            }
          }
        }
        &.queries-wrapper {
          border-radius: 6px;
          height: 16vh;
          transition: var(--transition);
          &:hover {
            height: 32vh;
            transition: var(--transition);
          }
          .query-container .query-item-container {
            height: 35px;
          }
          .create-query-btn-container {
            & + .queries-container {
              display: none;
            }
            .btn {
              transition: var(--transition);
              &:hover {
                background-color: var(--text-accent);
              }
            }
          }
        }
        &.tags-wrapper {
          height: calc(100% - 320px - 32vh);
          .tags-container .tag-item-container {
            height: 35px;
            border-radius: 6px;
            .tag-count {
              padding: 0 5px;
              border-radius: 4px;
            }
            &:hover {
              background-color: var(--file-item-bg);
              filter: brightness(108%);
              .tag-count {
                padding: 0 5px;
                background-color: var(--text-accent);
                color: var(--background-primary);
              }
            }
          }
        }
      }
    }
    .memo-editor-wrapper {
      padding: 10px;
      padding-bottom: 6px;
      // background-color: var(--background-primary-alt);

      textarea {
        padding: 8px;
        border-radius: 8px;
        transition: var(--transition);
        background-color: transparent;
        &:focus {
          transition: var(--transition);
          background-color: var(--background-primary-alt);
        }
      }
      .common-tools-wrapper {
        padding-left: 6px;
        .common-tools-container svg {
          margin-right: 6px;
        }
      }
      button {
        // border-radius: 16px !important;
        line-height: 30px !important;
        padding: 0 12px !important;
      }
    }
    .search-bar-container > .search-bar-inputer {
      margin-left: 0px !important;
      padding-left: 8px !important;
      padding-right: 12px !important;
      input {
        border: none !important;
        border-radius: 0;
        border-bottom: 2px solid var(--text-accent) !important;
        padding: 2px !important;
      }
      & > .icon-img {
        margin-right: 6px !important;
        width: 30px !important;
      }
    }
  }
  &.mobile-view {
    .view-content {
      padding-left: 0px;
    }
    .memos-sidebar-wrapper {
      // left: -8px;
      transform: translateX(-360px);
    }
    .content-wrapper {
      padding-left: 0 !important;
    }
    .section-header-container,
    .memos-header-container {
      & > .title-text > .action-btn {
        padding: 0px !important;
        margin-left: 0px;
        margin-right: 12px;
        width: 24px;
        height: 24px;
        svg {
          fill: #fff;
        }
      }
    }
    .memolist-wrapper {
      width: calc(100% - 24px);
      padding: 0;
      margin-left: 12px;
    }
    .memos-sidebar-wrapper > div.queries-wrapper {
      height: 21vh !important;
    }
    .search-bar-container > .search-bar-inputer {
      margin-left: -26px !important;
    }
  }
}
//#mark 演示模式
.reveal {
  font-size: 1.3rem !important;
  tab-size: 8;
  li {
    line-height: 1.8rem;
  }
  section {
    padding: 0 80px !important;
    ol,
    ul {
      margin: 0;
    }
    .frontmatter,
    .frontmatter-container,
    .obsidian-metatable {
      display: none;
    }
  }
  @for $a from 1 to 6 {
    h#{$a} {
      text-transform: none;
    }
  }
  h2::after {
    content: none;
  }
  h6 {
    text-transform: capitalize;
  }
  p {
    margin: 16px auto;
  }
  li {
    margin: 12px auto;
  }
  &:not(.has-vertical-slides) {
    .controls {
      height: 20vh;
      width: 100vw;
      top: 40vh;
      right: 0;
      button {
        border-radius: 10px !important;
      }
      .enabled {
        &:hover {
          background-color: #eeeeee60;
          transition: all 0.4s;
          opacity: 1 !important;
        }
        &:focus {
          box-shadow: none !important;
        }
      }
      .navigate-left {
        top: 0;
        left: 12px;
        width: 10.8em;
        transition: all 0.2s;
      }
      .navigate-right {
        top: 0;
        right: 0;
        width: 10.8em;
        transition: all 0.2s;
      }
      .navigate-left,
      .navigate-right {
        .controls-arrow {
          height: 100%;
          margin: 0;
          width: 100%;
          &::after,
          &::before {
            top: 50%;
            left: 50%;
          }
        }
      }
      .controls-arrow {
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:hover::before {
          transform: translate(-50%, -50%) rotate(35deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover::after {
          transform: translate(-50%, -50%) rotate(-35deg);
        }
      }
    }
  }
}
//#mark callout
.callout {
  border-radius: 2px !important;

  .callout-title {
    border-radius: 4px;
  }

  ul > li.task-list-item .task-list-item-checkbox {
    margin-left: auto;
  }

  .callout-content {
    padding-left: 10px;

    p img {
      display: block;
    }
  }

  img[alt*='circle'] {
    border-radius: 35px;
    width: 70px;
    height: 70px;
  }

  &.is-collapsed .callout-fold svg {
    transform: rotate(90deg);
  }

  // 全透明callout
  &.callout[data-callout*='blank'] {
    box-shadow: none;
    max-width: 100%;
    background: transparent;
    border: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    margin: 0;

    &.is-collapsed .callout-fold {
      border: 0;
      padding: 5px 10px;
    }

    .callout-title,
    .callout-title :is(.callout-icon, .callout-title-inner) {
      display: none;
    }

    .callout-content {
      overflow: visible;
      margin: 0;
      padding: 0px;
      border: 0;
    }
  }

  // 段落自动缩进
  &.callout:is([data-callout-metadata*='indent'], [data-callout*='indent']) {
    * {
      font-family: var(--font-interface), 'HarmonyOS Sans SC Medium',
        'Microsoft YaHei' !important;
    }

    code {
      font-family: var(--font-monospace) !important;
    }

    .callout-content p br {
      content: '';
      white-space: pre;

      &::after {
        content: '\A    ';
      }
    }

    .callout-content > p {
      text-indent: 2em;
    }

    .callout-content blockquote > p {
      text-indent: 2em;
    }
  }

  // 居中、左右对其
  &.callout:is([data-callout-metadata*='left'], [data-callout*='left']) {
    float: left !important;
    margin: unset;
  }

  &.callout:is([data-callout-metadata*='right'], [data-callout*='right']) {
    float: right !important;
    margin: unset;
  }

  &.callout:is([data-callout-metadata*='center'], [data-callout*='center']) {
    display: block;
    margin: auto;
    float: unset !important;
  }

  // 百分比宽度
  // > [!note 30%]
  // > [!note|30%]
  @for $i from 10 through 100 {
    $i: $i * 1%;

    &.callout:is([data-callout-metadata*='#{$i}'], [data-callout*='#{$i}']) {
      width: #{$i};
    }
  }

  // infobox
  &.callout[data-callout*='infobox'] {
    --callout-color: var(--interactive-accent-rgb);
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0;
    margin-left: 8px;
    float: right;

    &:is(.is-mobile, .is-live-preview) {
      float: unset !important;
      max-width: 100%;
      margin: 0 !important;
    }

    .callout-title {
      background-color: transparent;
      padding: 0;
      justify-content: center;
    }

    &.is-collapsed .callout-fold {
      border: 1px solid var(--hr, var(--background-modifier-border));
      padding: 5px 10px;
    }

    &:not(:hover):not(.is-collapsible) .callout-title,
    &:not(.is-collapsible)
      .callout-title
      :is(.callout-icon, .callout-fold, .callout-title-inner) {
      display: none;
    }

    .callout-content {
      padding: 1px;
      margin: 0;
      border-radius: var(--radius, var(--co-radius));
    }

    table {
      width: 100%;
      font-size: 13px;
    }

    :is(p, table) {
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0;
    }

    :is(h1, h2, h3, h4, h5, h6) {
      text-align: center;
      margin: 0;
      padding: 2px;
      color: var(--text-normal);
    }

    p,
    .internal-embed,
    img {
      margin: auto;
      padding: auto;
      text-align: center;
    }
  }

  &.callout[data-callout='timeline'] {
    --callout-color: 31, 172, 139;
    --callout-icon: '<svg t="1649346326592" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2210"><path d="M384 170.666667m42.666667 0l512 0q42.666667 0 42.666666 42.666666l0 0q0 42.666667-42.666666 42.666667l-512 0q-42.666667 0-42.666667-42.666667l0 0q0-42.666667 42.666667-42.666666Z" p-id="2211"></path><path d="M384 469.333333m42.666667 0l512 0q42.666667 0 42.666666 42.666667l0 0q0 42.666667-42.666666 42.666667l-512 0q-42.666667 0-42.666667-42.666667l0 0q0-42.666667 42.666667-42.666667Z" p-id="2212"></path><path d="M384 768m42.666667 0l512 0q42.666667 0 42.666666 42.666667l0 0q0 42.666667-42.666666 42.666666l-512 0q-42.666667 0-42.666667-42.666666l0 0q0-42.666667 42.666667-42.666667Z" p-id="2213"></path><path d="M239.835143 127.973411m15.084945 15.084944l60.339779 60.339779q15.084945 15.084945 0 30.169889l-60.339779 60.339779q-15.084945 15.084945-30.169889 0l-60.339779-60.339779q-15.084945-15.084945 0-30.169889l60.339779-60.339779q15.084945-15.084945 30.169889 0Z" p-id="2214"></path><path d="M239.831988 426.647696m15.084944 15.084945l60.339779 60.339778q15.084945 15.084945 0 30.16989l-60.339779 60.339778q-15.084945 15.084945-30.169889 0l-60.339779-60.339778q-15.084945-15.084945 0-30.16989l60.339779-60.339778q15.084945-15.084945 30.169889 0Z" p-id="2215"></path><path d="M239.828832 725.321982m15.084944 15.084944l60.339779 60.339779q15.084945 15.084945 0 30.169889l-60.339779 60.339779q-15.084945 15.084945-30.169889 0l-60.339779-60.339779q-15.084945-15.084945 0-30.169889l60.339779-60.339779q15.084945-15.084945 30.169889 0Z" p-id="2216"></path><path d="M213.333333 853.333333H85.333333a42.666667 42.666667 0 0 1-42.666666-42.666666V213.333333a42.666667 42.666667 0 0 1 42.666666-42.666666h128v85.333333H138.666667a10.709333 10.709333 0 0 0-10.666667 10.666667v192a10.709333 10.709333 0 0 0 10.666667 10.666666H213.333333v85.333334H138.666667a10.709333 10.709333 0 0 0-10.666667 10.666666v192a10.709333 10.709333 0 0 0 10.666667 10.666667H213.333333v85.333333z" p-id="2217"></path></svg>';
    border-left: none;
    background-color: transparent;

    & > .callout-content {
      border-left: none;
      display: -ms-grid;
      display: grid;
      grid-template-columns: 0.3fr auto 1fr;
      column-gap: 1.5rem;
      row-gap: 0.25rem;
      margin: 2.3rem 1rem 0 0;
      padding: 0px;

      hr {
        height: 100%;
        width: 0.5rem;
        grid-column: 2 / span 1;
        grid-row-start: 1;
        background-color: var(--text-normal);
        opacity: 0.1;
        grid-row-end: 9;
        margin: auto;
        border: 0px;
        overflow: hidden;
        border-radius: 10px;

        &::before {
          display: none;
        }
      }

      blockquote {
        display: block;
        grid-column: 1 / span 1;
        position: relative;
        align-self: start;
        text-align: left;
        margin: 0px;
        border: none;
        padding: 0;
        margin-inline-start: 0;
        margin-inline-end: 0px;
        background-color: unset;

        p {
          display: block;
          color: var(--time-font-color);
          background-color: var(--time-color);
          font-style: normal;
          padding: 6px;
          border-radius: 5px;

          &::before {
            display: none;
          }
        }
      }

      & > *:not(blockquote):not(hr) {
        position: relative;
        grid-column: 3 / span 1;
        margin-block-start: 0;
        margin-block-end: 0em;
      }
    }
  }
}
//file-explorer-toolbar
.workspace-leaf-content[data-type='file-explorer'] .is-flashing {
  background-color: transparent !important;
}
// div.markdown-source-view ul.floating-toc > li {
//   flex: none;
//   background-color: transparent;
//   border: 0px;
// }
// div.markdown-source-view ul.floating-toc {
//   flex-wrap: unset;
//   max-width: 100%;
// }
//workspace plus
.status-bar-item.plugin-workspaces-plus.mod-clickable {
  margin-top: 2px;
  .icon {
    bottom: -2px;
  }
}
.workspaces-plus-modal {
  &.quick-switch {
    width: 48vw !important;
    max-width: 400px !important;
  }
  .is-selected {
    background-color: var(--file-item-bg) !important;
  }
}
//setting search
.settings-search-container {
  position: fixed;
  top: calc(15vh);
  // left: calc(20vw);
  width: calc(15vw);
  min-width: 180px;
  z-index: 1;
  height: fit-content;
  background-color: var(--background-primary-alt);
  border-top-left-radius: 8px;
  padding: 6px 2px 4px 4px;
  .vertical-tab-nav-item:hover {
    box-shadow: none !important;
  }
  & + .vertical-tab-header-group {
    padding-top: 0 !important;
  }
  .settings-search-input {
    margin: 2px !important;
    .setting-item-control {
      flex: none !important;
      width: 13vw;
      margin: 0 !important;
    }
    .search-input-container {
      width: fit-content;
      input {
        width: 13vw;
      }
    }
  }
  .search-input-clear-button {
    top: 4px;
  }
}
.modal-content .vertical-tab-header {
  margin-top: 52px !important;
}
//commander
.cmdr {
  &[aria-label='设置'] {
    position: fixed;
    left: 0;
    padding: 0 10px !important;
    padding-right: 12px !important;
    margin-right: 0 !important;
    &:hover {
      background-color: var(--text-accent);
      svg {
        color: white;
      }
    }
  }
  svg {
    height: calc(var(--titlebar-height) / 1.8);
    width: calc(var(--titlebar-height) / 1.8);
  }
}
.view-action:not(:last-child) {
  margin-right: 12px !important;
}
