//advanced-tables
.workspace-leaf-content[data-type='advanced-tables-toolbar'] {
  .nav-header {
    box-shadow: none !important;
    padding: 0;
  }

  .nav-buttons-container {
    display: flex;
    border: 0 !important;
    margin: 0 30px;
  }

  .nav-action-button {
    flex: 1;
    max-width: 50px;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
  }
}

//git
.workspace-leaf-content[data-type="git-view"] {
  .opener {
    position: relative;

    padding: {
      left: 20px !important;
      top: 5px !important;
      bottom: 5px !important;
      right: 15px !important;
    }
  }

  .tree-item-self {
    &:hover {
      background-color: var(--fold-item-bg);
    }

    .collapse-icon {
      width: 24px;
    }
  }

  .git-view-body {
    padding-left: 8px !important;
    padding-right: 10px !important;

    @mixin dark-item-end($color) {
      content: "";
      width: 4px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $color;
      border-radius: 5px;
    }

    .file-view {
      margin-left: 0;

      &>main {
        position: relative;
        width: 100%;

        padding: {
          top: 3px;
          bottom: 3px;
          right: 16px;
          left: 8px;
        }

        &:hover {
          background-color: var(--file-item-bg);

          &::after {
            @include dark-item-end(var(--file-item))
          }
        }
      }
    }
  }

}

//excalidraw
.excalidraw {
  .context-menu {
    border: none !important;
    padding: 5px 0 !important;

    li {
      padding: 4px !important;

      button {
        border-radius: 6px;
        padding: 4px 10px;
      }
    }
  }
}

.excalidraw-svg img {
  box-shadow: none;
}

// quick explorer
#quick-explorer {
  align-items: center;
  border-radius: 4px;
  margin-left: 20px;
  line-height: 16px;

  span {
    padding: 0 !important;
    padding-left: 2px !important;
    margin: 0 !important;
    border-radius: 2px;
  }
}

//calendar
#calendar-container {
  & * {
    transition: none;
  }

  .day {
    @at-root .theme-light .day:hover {
      box-shadow: var(--shadow-inset);
    }

    @at-root .theme-dark .day:not(.today):hover {
      background-color: var(--file-item-bg) !important;
    }

    &.today:hover {
      background-color: var(--interactive-accent-hover);
      color: #fff;
    }
  }

  .nav {
    padding: 0;

    .title {
      display: flex;
      flex-direction: row-reverse;
      font-weight: normal;
      font-size: 1.2rem;

      .year {
        color: var(--text-normal);

        &::after {
          content: "年";
          margin-right: 4px;
        }
      }

      .month {
        font-weight: bold;
        color: var(--interactive-accent);
      }
    }
  }

  thead {
    & * {
      font-size: .7rem;
    }

    margin-bottom: 10px;
    border-bottom: 2px solid var(--text-accent);
  }

  .reset-button {
    font-size: .9rem;
  }
}

//day planner
.theme-light {
  --day-planner-pie: #eee;
  --day-planner-timeline: #111;
  --day-planner-line: #eee;
  --day-planner-dot: #eee;
  --day-planner-item-hover: #345e96;
  --event-item-color1: #283493bb;
  --event-item-color2: #1565c0bb;
  --event-item-color3: #00838fbb;
  --event-item-color4: #2e7d32bb;
  --event-item-color5: #9e9d24bb;
  --event-item-color6: #ff8f00bb;
  --event-item-color7: #d84315bb;
  --event-item-color8: #c62828bb;
  --event-item-color9: #ad1457bb;
  --event-item-color10: #6a1b9abb;
}

.theme-dark {
  --day-planner-pie: #eca95c;
  --day-planner-timeline: #d62f2f;
  --day-planner-line: #ffd900;
  --day-planner-dot: #ffd900;
  --day-planner-item-hover: #8fccffbb;
  --event-item-color1: #65ace6bb;
  --event-item-color2: #52a4e7bb;
  --event-item-color3: #2e96ebbb;
  --event-item-color4: #2786dabb;
  --event-item-color5: #1275ccbb;
  --event-item-color6: #2664c0bb;
  --event-item-color7: #1652acbb;
  --event-item-color8: #0c469cbb;
  --event-item-color9: #0a3c86bb;
  --event-item-color10: #072f6bbb;
}

.plugin-obsidian-day-planner {
  padding-top: 0 !important;
}

.day-planner-progress-bar {
  margin-top: 0 !important;
}

.status-bar-item-segment.day-planner-status-bar-text {
  font-size: 0.9rem !important;
}

#scroll-controls.svelte-e43ld1 label.svelte-e43ld1 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.status-bar-item>* {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.progress-pie.day-planner {
  background-color: var(--day-planner-pie);
  float: left;
  height: 20px;
  margin: 0.3px 10px 0.3px 0;
  width: 20px;
  display: none;
}

.aside__line {
  background: var(--day-planner-dot) !important;
  left: 35px !important;
}

.ei_Dot {
  background-color: var(--day-planner-line) !important;
  left: 28px !important;
}

.ei_Title {
  font-size: 15px !important;
  margin-left: -10px !important;
}

.ei_Copy {
  font-size: 15px !important;
  margin-left: 5px !important;
}

.event_item {
  overflow: hidden !important;
}

#now-line,
.timeline-time {
  background-color: var(--day-planner-timeline) !important;
}

.event_item:hover {
  background-color: var(--day-planner-item-hover) !important;
  box-shadow: 0px 0px 52px -18px #000000bf;
}

@for $i from 1 through 10 {
  .event_item_color#{$i} {
    background-color: var(--event-item-color#{$i}) !important;
  }
}

.day-planner-status-bar-text {
  margin-top: 0px !important;
}

//看板
.kanban-plugin {
  padding-bottom: 3px;

  .kanban-plugin__scroll-container {

    &::-webkit-scrollbar {
      width: 10px !important;
      height: 10px !important;
    }

    &::-webkit-scrollbar-thumb {
      border: none !important;
    }
  }

  .kanban-plugin__item-title-wrapper {
    align-items: center;
  }
}