.reveal {
  font-size: 1.3rem !important;
  tab-size: 8;

  li {
    line-height: 1.8rem;
  }

  section {
    padding: 0 80px !important;
  }

  &:not(.has-vertical-slides) {
    .controls {
      height: 20vh;
      width: 100vw;
      top: 40vh;
      right: 0;

      button {
        border-radius: 10px !important;
        // opacity: 0 !important;
      }

      .enabled {

        &:hover {
          background-color: #eeeeee60;
          transition: all 0.4s;
          opacity: 1 !important;
        }

        &:focus {
          box-shadow: none !important;
        }
      }

      .navigate-left {
        top: 0;
        left: 12px;
        width: 10.8em;
        transition: all .2s;
      }

      .navigate-right {
        top: 0;
        right: 0;
        width: 10.8em;
        transition: all .2s;
      }

      .navigate-left,
      .navigate-right {

        .controls-arrow {
          height: 100%;
          margin: 0;
          width: 100%;

          &::after,
          &::before {
            top: 50%;
            left: 50%;
          }
        }
      }

      .controls-arrow {
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:hover::before {
          transform: translate(-50%, -50%) rotate(35deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover::after {
          transform: translate(-50%, -50%) rotate(-35deg);
        }
      }
    }
  }
}