:root {
  --titlebar-height: 28px !important;
}

.theme-light {
  --text-normal: #222;
  --text-accent: #5793fa !important;
  --text-accent-hover: #a9c9ff;
  --text-muted: #666;
  --interactive-accent: #2e7bffa9;
  --interactive-accent-rgb: 72, 148, 235 !important;
  --interactive-accent-hover: #4894eb;
  --background-primary: #fefefe;
  --background-primary-alt: #f3f3f3;
  --background-modifier-cover: #00000099;
  --highlight-mix-blend-mode: normal !important;
  // --highlight-search: #973000;

  --language-title: #4d9ddf;
  --shadow: var(--shadow-inset);
  --hover: inhert;

  --file-item-bg: #d4e4ff;
  --fold-item-bg: #f8df8b;
  --file-item-selected-bg: var(--text-accent);
  --border: 2px solid var(--file-item-bg);
  --error: #ffbbbbab;
  --error-hover: #ffbbbb88;
  --shadow-inset: 0px 0px 3px 0px #666 inset !important;
  --shadow-outset: 0px 0px 10px rgb(0 0 0 / 12%) !important;

  --red-hover: #d86262;
  --blue: #8db9ff;
  --blue-light: var(--text-accent);
  --blue-dark: #e2ebf0dd;
}

.theme-dark {
  --text-accent: #6e98e7 !important;
  --text-accent-hover: #adcbff;
  --background-primary: #21262b;
  --background-primary-alt: #181818;
  --background-secondary: #20282e;
  --background-secondary-alt: #273339;
  --background-modifier-cover: #55555599 !important;
  --background-primary-transparent: #000000aa;
  --text-faint: #aaa;
  --text-normal: #cccccc;
  --text-muted: #9da5a8;
  --interactive-accent: #6d97deb3;
  --interactive-accent-hover: #6eabef6e;
  --highlight-mix-blend-mode: normal !important;

  --language-title: #2e4e68;
  --shadow: none !important;
  --hover: brightness(130%);
  --file-item: #8297bb;
  --fold-item: #ffd152cc;
  --file-item-selected: #aac4f1;
  --file-item-bg: #424c58;
  --fold-item-bg: #d4b15256;
  --file-item-selected-bg: #aac4f166;
  --border: 2px solid var(--file-item-bg);
  --error: #a36363ab;
  --error-hover: #a3636389;
  --shadow-inset: none;
  --shadow-outset: none;
  --red-hover: #e94949;
  --blue: var(--file-item);
  --blue-light: var(--text-accent);
  --blue-dark: var(--file-item-bg);
}

* {
  text-shadow: none !important;
}

.edit-block-button::before {
  font-family: var(--font-monospace);
}

body .app-container mjx-container,
body .app-container mjx-container * {
  font-style: normal !important;

  mjx-utext {
    font-family: var(--font-text) !important;
  }
  mjx-stretchy-h > mjx-ext > mjx-c::before {
    transform: scaleX(400);
  }
}

//输入框
input {
  padding: 6px !important;
  font-size: 0.9rem !important;
  font-family: var(--font-text);
  border: var(--border) !important;

  &.document-search-input.mod-no-match,
  &.document-replace-input.mod-no-match {
    background-color: var(--error);

    &::placeholder {
      color: var(--text-normal);
    }

    &:hover,
    &:focus {
      background-color: var(--error-hover);
    }
  }

  &[type='range'] {
    height: 4px !important;
    padding: 0 !important;
    border: none !important;
    background-color: var(--file-item-bg);

    &::-webkit-slider-thumb {
      background: var(--file-item-selected-bg) !important;
      border: var(--border);
      height: 18px;
      width: 18px;
      border-radius: 16px;
      margin-top: -3px;
      transition: all 0.2s linear;
      cursor: default;

      &:hover,
      &:active,
      &:focus {
        filter: var(--hover);
        background-color: var(--blue);
        box-shadow: var(--shadow-outset);
      }
    }
  }
}

//面板
body {
  .workspace {
    background-color: var(--background-secondary-alt);

    .mod-left {
      margin-right: 2px;
    }
    .mod-right {
      margin-left: 2px;
    }

    //侧边框
    @at-root body {
      .workspace-ribbon {
        .workspace-ribbon-collapse-btn {
          margin-top: 0 !important;
          display: flex;
          align-items: center;
          text-align: center;
          height: 40px;
          position: absolute;
          border: 1px solid var(--text-accent);
          background-color: var(--file-item-bg);
          transition: 300ms ease-in-out;
          border-radius: 7px;
          padding: 20px 0 20px 3px;
          width: 32px;
        }
        &.mod-right {
          margin-right: -18px;
          .workspace-ribbon-collapse-btn {
            right: -6px;
            margin-right: -15px;
            &:hover {
              margin-right: 0px;
            }
          }
          &.side-dock-ribbon.is-collapsed .workspace-ribbon-collapse-btn {
            padding: 20px 0 20px 7px;
          }
        }
        &.mod-left {
          margin-left: -18px;
          .workspace-ribbon-collapse-btn {
            left: -6px;
            margin-left: -15px;
            justify-content: center;
            &:hover {
              margin-left: 0px;
            }
          }
          &.side-dock-ribbon.is-collapsed .workspace-ribbon-collapse-btn {
            padding: 20px 0 20px 0px;
          }
          .side-dock-actions {
            display: none;
          }
          .side-dock-settings {
            position: absolute;
            margin-bottom: 0;
            z-index: 99;
            padding: 0;
            padding-top: 1px;
            bottom: -1px;
            left: 0;
            background-color: var(--background-primary-alt);
            .side-dock-ribbon-action {
              padding: 6px 0;
              display: none;
              &[aria-label='设置'] {
                display: block;
                padding: 0;
                height: 20px;
                opacity: 0.2;
                &:hover {
                  opacity: 1;
                  transition: var(--transition);
                }
              }
            }
            // &:hover {
            //   left: 0;
            //   padding: 12px 0;
            // }
          }
        }
      }
    }
    // &.hide-right-ribbon-button-middle
    //   .workspace-ribbon.mod-right
    //   .workspace-ribbon-collapse-btn {
    //   top: 45%;
    // }

    // &.hide-right-ribbon-button-bottom
    //   .workspace-ribbon.mod-right
    //   .workspace-ribbon-collapse-btn {
    //   bottom: 4%;
    // }
  }
  .side-dock-ribbon {
    .side-dock-ribbon-tab,
    .side-dock-ribbon-action {
      color: var(--text-normal);
      &:hover {
        color: var(--text-accent);
      }
    }
  }

  .workspace-leaf {
    &.mod-active .view-header {
      border-color: var(--file-item-selected-bg) !important;
      // box-shadow: var(--shadow-outset);
      background-color: var(--file-item-selected-bg) !important;

      & * {
        color: #eee;
      }
    }

    .view-header {
      margin: {
        top: 4px;
        left: 1px !important;
        right: 1px !important;
      }
      align-items: center;
      &-icon {
        transform: translateY(-1px);
        height: 100%;
        padding: 0px;
        padding-left: 8px !important;
        display: flex;
        align-items: center;
      }
      &-title {
        font-size: 1.1rem;
        font-weight: normal !important;
        line-height: 36px;
        height: 36px;
      }
      &-title-container {
        transform: translateY(1px);
        &::after {
          content: none;
        }
      }

      .view-actions {
        height: 36px;
        line-height: 36px;
        padding: 0;
        .view-action {
          display: flex;
          align-items: center;
          top: 0;
          // padding-top: 2px;
          line-height: 100%;
          height: 100%;
        }
      }
    }

    .view-header,
    .view-content {
      margin-bottom: 3px;
    }

    .workspace-leaf-content {
      &[data-type='empty'],
      &[data-type='markdown'] {
        .view-header {
          border-radius: 8px;
        }

        .view-content {
          border-radius: 8px;
          margin-bottom: 0;
        }
      }
    }

    .workspace-leaf-content .view-header {
      border-radius: 8px;
    }

    .view-content {
      border-radius: 8px;
      margin-bottom: 0;

      .empty-state-title {
        font-weight: var(--font-bold);
        color: var(--text-accent);
      }
    }
  }

  .workspace-leaf-content[data-type='calendar'] {
    .view-content {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .empty-state-container {
    padding: 10px 20px 20px 20px !important;
    border-radius: 12px;
    background-color: var(--background-primary-transparent);
    box-shadow: var(--shadow-outset);
    width: 250px;
    .empty-state-close-button {
      right: 0;
      left: unset;
    }
  }
}

.nav-header {
  box-shadow: var(--shadow-outset);

  padding: {
    top: 8px;
    left: 4px;
    right: 4px;
  }

  margin: {
    bottom: 8px;
  }

  .nav-action-button {
    margin: {
      bottom: 0;
      left: 4px;
      right: 4px;
    }
  }
}

.workspace-tab-header {
  margin: 0 4px;
  .workspace-tab-header-inner {
    padding: 3px 8px;
  }
  &.is-active {
    border-radius: 6px;
    background-color: var(--text-accent);
    color: #fff;
    &:hover {
      color: #ddd;
    }
  }
}

// hr
.workspace-split > .workspace-leaf-resize-handle {
  height: calc(100% - 20px) !important;
  top: 0 !important;
  width: 4px !important;
}

.workspace-leaf-resize-handle {
  background-color: var(--background-secondary-alt);
  border-color: var(--background-secondary-alt);

  &:hover {
    background-color: var(--text-accent);
  }
}

.workspace-tabs {
  .workspace-tab-header-container {
    padding: 5px 10px 0px 10px;
    margin: 6px 0;

    & * {
      transition: none;
    }

    .workspace-tab-header-inner {
      border-radius: 0 !important;
    }

    .workspace-tab-container-before,
    .workspace-tab-container-after {
      display: none;
    }
  }

  .workspace-leaf {
    border-radius: 8px;
    margin-bottom: 3px;
  }
  //全局搜索
  .search-input-container {
    margin: {
      bottom: 8px;
      left: 8px;
      right: 8px;
    }
    .search-input-clear-button:before {
      line-height: 29px;
    }
    &.mod-search-suggestion {
      box-shadow: var(--shadow-outset);
      max-width: 280px;

      .suggestion-item:hover {
        box-shadow: var(--shadow-inset);
        background-color: var(--file-item-bg) !important;
      }
    }
  }
  .search-result-container {
    .tree-item-flair-outer {
      align-items: center;
    }
    .search-result-file-title {
      // margin-right: 4px;
      &:hover {
        background-color: var(--fold-item-bg);
        box-shadow: var(--shadow);
      }
    }
    .search-result-file-match {
      border-radius: 4px;
      width: calc(100% - 8px);
      padding-right: 8px;
      &:hover {
        background-color: var(--file-item-bg);
        box-shadow: var(--shadow);
      }
      .search-result-hover-button {
        transform: translateX(-5px);
      }
    }
  }
}

//=========================================================================

// file

@mixin dark-item-end($color) {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $color;
  border-radius: 5px;
}

.nav-files-container {
  overflow-x: hidden;

  .mod-root > .nav-folder-title {
    display: none;
  }

  //右侧指示线
  .nav-folder-children {
    & > :first-child {
      margin-top: 0.1px;
    }

    .nav-folder-children {
      margin-left: 20px;
      padding-left: 0;
      border-radius: 0px;
      transition: all 0.2s ease-in;
      border-left: 2px solid var(--background-secondary-alt);

      &:hover {
        border-left-color: var(--text-accent);
        transition: all 0.2s ease-in;
      }
    }
  }

  //选中高亮
  :not(.is-grabbing) {
    .nav-file-title.is-active {
      color: #fff;
      background-color: var(--file-item-selected-bg) !important;
      position: relative;

      .nav-file-title-content::before {
        background-color: #fff;
      }
    }
  }

  //item
  .nav-file {
    margin-left: 6px;

    .nav-file-title {
      position: relative;
      border-radius: 4px;
      margin-left: 1px;
      padding-left: 3px;
      width: calc(100% - 8px);

      &:hover {
        background-color: var(--file-item-bg);
      }

      .nav-file-title-content {
        display: flex;
        padding-left: 22px;
        overflow: auto;
        white-space: pre-wrap;
        word-break: break-word;
      }

      .nav-file-tag {
        font-weight: normal;
        color: var(--file-item-selected-bg) !important;
        border: 1px solid var(--file-item-selected-bg);
        margin-right: 8px;
      }

      &.is-active .nav-file-tag {
        color: var(--folder-file-icon) !important;
      }

      .nav-file-tag + .nav-file-title-content {
        padding-left: 1px;
      }
      // &.has-active-menu {
      //   // left: 1px;
      // }
    }
    &.has-focus {
      // margin: 6px;
      border: 1px solid transparent !important;
      border-radius: 4px !important;
      background-color: transparent !important;
    }
  }

  .nav-folder {
    .nav-folder-title {
      position: relative;
      padding-left: 22px;
      width: calc(100% - 16px);
      margin: 1px auto;
      margin-left: 8px;
      padding-left: 23px;
      font-weight: var(--font-bold);
      color: var(--text-normal);
      &:hover {
        background-color: var(--fold-item-bg);
      }
      &-content {
        padding: 2px 6px;
      }
      .nav-folder-collapse-indicator {
        margin-left: -18px;
        width: 16px;
      }
      &.is-being-dragged {
        background-color: var(--fold-item-bg);
        box-shadow: var(--shadow-inset);
        color: var(--text-normal);
      }
    }
    .nav-folder-title.has-active-menu {
      background-color: var(--fold-item-bg) !important;
      box-shadow: var(--shadow-inset) !important;
      color: var(--text-normal) !important;
      border: none !important;
      border-radius: 4px !important;
    }
  }

  .nav-folder-title,
  .nav-file-title {
    line-height: 1.5rem;
    // height: 1.8rem;
    min-width: auto;
    border: 1px;
    padding: 0;
    border-radius: 4px;
    // &.is-being-dragged {
    //   color: var(--background-primary);
    //   .nav-file-title-content::before {
    //     background-color: var(--background-primary);
    //   }
    // }
    &:hover {
      color: var(--text-normal);
      text-decoration: underline;
      box-shadow: var(--shadow);
      .nav-file-title-content::before {
        background-color: var(--text-accent);
      }
    }
  }
}
.theme-dark {
  .nav-file {
    &-title {
      &.is-active {
        &::after {
          @include dark-item-end(var(--file-item-selected));

          &:hover {
            @include dark-item-end(var(--file-item-selected));
          }
        }
      }

      &:hover {
        &::after {
          @include dark-item-end(var(--file-item));
        }
      }
    }
  }

  .nav-folder {
    &-title {
      &:hover {
        &::after {
          @include dark-item-end(var(--fold-item));
        }
      }
    }
  }
}

//=========================================================================
//大纲

.workspace-leaf-content[data-type='outline'] .view-content {
  &:hover {
    overflow-y: auto !important;
  }

  .tree-item-self {
    .tree-item-flair-outer {
      margin-right: 12px;
      align-items: center;
    }

    &.is-clickable {
      position: relative;
      padding-left: 24px;
    }

    .collapse-icon {
      position: absolute;
      left: 20px;
    }

    &:hover {
      background-color: var(--fold-item-bg);
      text-decoration: underline;
      box-shadow: var(--shadow-inset);

      &::after {
        @include dark-item-end(var(--fold-item));
      }
    }
  }

  .tree-item-children {
    margin-left: 16px;
  }

  .tree-item-inner {
    overflow: auto;
    white-space: pre-wrap;
    position: relative;
  }

  .tree-item-icon:after {
    content: none;
  }
}

// .theme-light .outline .tree-item>.tree-item-self:hover {}

// .theme-dark .outline .tree-item>.tree-item-self:hover {
//   background-color: var(--fold-item-bg);
//   text-decoration: underline;

// }

//反向链接

.backlink-pane {
  .search-result-file-matches {
    margin: 0 auto;

    .search-result-file-match {
      margin: 5px 0;
      border: var(--border);
      border-radius: 6px;

      .search-result-file-match-replace-button {
        display: none !important;
      }
    }
  }

  .tree-item-self {
    margin: {
      left: 6px;
      right: 6px;
    }

    padding: {
      top: 4px;
      bottom: 4px;
    }

    border-radius: 4px;
    position: relative;

    &:hover {
      background-color: var(--fold-item-bg);
      box-shadow: var(--shadow);
    }

    &:hover::after {
      @include dark-item-end(var(--fold-item-bg));
    }
  }
}

//=========================================================================
//文档内搜索

.view-content {
  .is-searching,
  .is-replacing {
    position: relative;
  }
}
.search-highlight div.is-active {
  border-radius: 2px;
}
.document-search-container {
  position: absolute !important;
  top: 15px !important;
  right: 25px;
  border-radius: 5px;
  padding: 0;
  height: fit-content !important;
  border: 2px solid var(--file-item);
  box-shadow: var(--shadow-outset);

  button {
    border: 1px solid var(--file-item-selected-bg);
    overflow: hidden;
    line-height: 26px;

    &:hover {
      background-color: var(--file-item-bg);
    }
  }

  .document-replace {
    height: 36px;
    padding-right: 2px;
  }

  .document-search {
    align-items: center;

    button:nth-child(3) {
      display: none;
    }
  }

  .document-search-buttons {
    display: flex;

    .document-search-close-button {
      margin-right: 8px;
      height: 26px;
      width: 26px;
      border-radius: 6px;
      padding: 6px;
      display: inline-block;
      position: relative;
      line-height: 1rem;

      &::before {
        position: absolute;
        transform: translateY(1px);
      }

      &:hover {
        background-color: var(--fold-item-bg);
      }
    }
  }
}
button {
  transition: var(--transition);
}
.theme-light {
  button,
  .document-search-close-button {
    &:hover {
      box-shadow: var(--shadow-inset);
    }
  }
}

//==========================================================
//应用的标题栏
.titlebar {
  background: var(--background-secondary);
  height: var(--titlebar-height) !important;
  box-sizing: border-box;
  border-bottom: 2px solid var(--background-secondary-alt);

  .titlebar-text {
    line-height: var(--titlebar-height);
    // @media screen and (max-width: 1280px) {
    // display: none;
    // }
    visibility: hidden;
    &::before {
      color: #000 !important;
      content: 'MarkdownNote';
      position: absolute;
      // font-size: 1rem;
      font: {
        weight: var(--font-bold);
        size: 0.9rem;
      }
      letter-spacing: 1px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -44%);
      visibility: visible;
    }
  }

  .titlebar-button-container {
    color: var(--text-normal) !important;

    &.mod-right {
      transform: translateY(1px);
    }
    &.mod-left > div {
      margin: 5px;
    }
    & > div {
      margin: 4px;
      border-radius: 4px;
      padding: 3px 10px;
      padding-top: 1px;
      line-height: calc(var(--titlebar-height) - 10px);

      &.mod-back,
      &.mod-forward,
      &.mod-close {
        &:hover {
          background-color: var(--red-hover);
          color: #fff;
        }
      }

      &.mod-minimize,
      &.mod-maximize {
        &:hover {
          background-color: var(--interactive-accent-hover);
          color: #fff;
        }
      }
    }
  }
}

.app-container {
  padding-top: calc(var(--titlebar-height) - 24px);
}

//菜单

.menu {
  padding: 4px;

  @at-root .theme-dark .menu {
    border: var(--border);
  }

  border-radius: 8px;

  .menu-item {
    border-radius: 4px;
    position: relative;
    padding-left: 8px;

    .menu-item-icon {
      width: 24px;
    }

    .menu-item-title {
      font-size: 0.8rem;
    }

    &.selected {
      background-color: var(--file-item-bg) !important;
      box-shadow: var(--shadow);
      color: var(--text-normal);

      svg {
        background-color: var(--text-normal);
      }
    }

    &.is-disabled {
      opacity: 0.4;
      background-color: unset !important;
      color: unset !important;

      svg {
        background-color: unset;
      }
    }
  }

  .menu-separator {
    border-color: var(--text-normal);
    width: calc(100% - 8px);
    margin-left: 4px;
  }
}

.theme-dark {
  .menu-item.selected::after {
    @include dark-item-end(var(--file-item));
  }
}

//===================================================
//状态栏
.workspace-split {
  &.mod-left-split,
  &.mod-right-split,
  &.mod-root {
    padding-bottom: 22px;
  }
  @at-root .side-dock-ribbon.mod-right {
    margin-bottom: 22px;
  }
}
.status-bar {
  border-top: 2px solid var(--background-secondary-alt);
  padding: 0 12px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  &-item {
    padding: 0 8px;
    &.plugin-editor-status svg {
      transform: translateY(2px);
    }
  }
}

//===================================================
//滚动条

* ::-webkit-scrollbar-thumb {
  background-clip: padding-box !important;
  background-color: var(--blue) !important;
  transition: var(--transition) !important;
  border: 3px transparent solid !important;

  &:hover {
    border-width: 0px !important;
    background-color: var(--blue-light) !important;
    transition: var(--transition) !important;
  }
}

.theme-light {
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border: 1px solid #ddd;
  }
}

* ::-webkit-scrollbar-track {
  background-color: var(--blue-dark) !important;
  border-radius: 12px;
}

.workspace-leaf-content {
  padding-bottom: 2px;
  // content-visibility: auto;
  // contain-intrinsic-size: 150vh;

  img:not([width]):active,
  audio,
  video {
    width: 100%;
  }
}

// .markdown-preview-view {
//   padding: 16px !important;

//   .markdown-preview-section {
//     max-width: 750px !important;
//   }
// }

//====================================================
// 弹出面板
.modal-container {
  .modal.mod-settings .vertical-tab-header {
    padding: 0;
  }
  .hotkey-settings-container {
    .setting-item-info {
      flex: 1 1 20vw;
    }
    .setting-hotkey {
      &.mod-active {
        min-width: 104px;
      }

      &.mod-empty {
        min-width: 56px;
      }
    }
    //按钮svg
    .setting-hotkey-icon.setting-delete-hotkey {
      transform: translateY(30%);
      height: 18px;
      width: 18px;
    }
  }

  .modal-bg {
    backdrop-filter: blur(10px);
  }

  .modal,
  .prompt,
  .suggestion-container {
    box-shadow: var(--shadow-outset);
    border-radius: 10px;
  }
  .modal {
    border: none;
    background: var(--background-primary);
    &.mod-settings {
      width: 60vw;
      min-width: 600px;
      .vertical-tab-header {
        flex: 0 0 15vw;
        min-width: 180px;
      }
      .vertical-tab-content-container {
        padding-bottom: 4px;
      }
    }

    .modal-content {
      .vertical-tab-header {
        background-color: var(--background-secondary);

        .vertical-tab-nav-item {
          background-color: var(--background-secondary);
        }
      }

      .vertical-tab-content {
        background-color: var(--background-primary);
      }

      .vertical-tab-nav-item {
        border: none;
        border-radius: 4px;
        position: relative;

        padding: {
          top: 6px;
          bottom: 6px;
        }

        margin: {
          left: 5px;
          right: 8px;
          top: 2px;
          bottom: 2px;
        }

        &.is-active {
          background-color: var(--file-item-selected-bg);
          color: #eee;
        }

        &:not(.is-active):hover {
          text-decoration: underline;
          background-color: var(--file-item-bg);
        }

        &:hover,
        &.is-active {
          box-shadow: var(--shadow);
        }

        &:hover::after {
          @include dark-item-end(var(--file-item));
        }

        &.is-active::after {
          @include dark-item-end(var(--file-item-selected));
        }
      }

      .community-plugin-search {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: var(--background-secondary);
        .community-plugin-search-results .community-plugin-item {
          position: relative;
          border-radius: 6px;
          margin: 6px;
          &:hover {
            background-color: var(--file-item-bg) !important;
            box-shadow: var(--shadow);
            color: var(--text-normal);
          }
        }
        @at-root .theme-dark
            .community-plugin-search-results
            .community-plugin-item:hover::after {
          @include dark-item-end(var(--file-item));
        }
        .setting-item-info {
          display: none;
        }
        .search-input-container {
          width: 70%;
          .search-input-clear-button:before {
            line-height: 28px;
          }
        }
      }
      .community-plugin-info {
        margin-top: 36px;
        padding-top: 12px;
      }
    }
  }

  .prompt {
    @at-root .theme-dark .prompt {
      border: var(--border);
    }

    input {
      border: none !important;
      padding: 0 !important;
      padding-left: 5px !important;
      margin: 10px;
      margin-bottom: 15px;
      font-size: 1.1rem !important;
      height: fit-content;
      background-color: var(--background-primary);
    }

    .prompt-results {
      padding-top: 0;

      .suggestion-item {
        border-radius: 4px;
        position: relative;
        margin-right: 10px;
        padding: 8px 20px;
        color: var(--text-faint);

        .suggestion-flair {
          left: 2px;
          top: 9px;
        }

        .suggestion-highlight {
          color: var(--text-normal);
        }

        &.is-selected {
          background-color: var(--file-item-bg) !important;
          box-shadow: var(--shadow);
          color: var(--text-normal);

          kbd {
            color: var(--text-normal);
          }
        }
      }
    }

    .prompt-instruction {
      font-size: 1rem;
    }
  }
}

.theme-dark {
  .prompt .suggestion-item.is-selected::after {
    @include dark-item-end(var(--file-item));
  }
}

//关系图谱
.graph-controls {
  .graph-color-button-container button {
    width: 100%;
  }

  .graph-controls-button.mod-close {
    top: 6px;
  }
}

//全局搜索提示框+标题(命令：小标题)
body .suggestion-container {
  border-radius: 8px;
  padding: 0 !important;

  .suggestion .suggestion-item {
    border-radius: 4px;
    margin: 4px;

    //搜索框标题
    &.mod-group {
      padding-right: 0;
    }

    &.is-selected:not(.mod-group) {
      background-color: var(--file-item-bg);

      &:not(.mod-group) {
        box-shadow: var(--shadow);
      }
    }
  }
}
.theme-dark {
  img {
    filter: brightness(80%);
  }
}
//loading加载图
body {
  .progress-bar-message {
    visibility: hidden;
    &:before {
      $a: 176px;
      content: '加载中';
      font-size: 1rem;
      color: var(--text-normal);
      line-height: $a;
      background: no-repeat center/cover
        url('data:image/svg+xml;utf8,<svg class="pl" width="5em" height="5em" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><style>.pl circle{transform-box:fill-box;transform-origin:50% 50%}.pl__ring1{animation:ring1 4s 0s ease-in-out infinite}.pl__ring2{animation:ring2 4s 40ms ease-in-out infinite}.pl__ring3{animation:ring3 4s 80ms ease-in-out infinite}.pl__ring4{animation:ring4 4s .12s ease-in-out infinite}.pl__ring5{animation:ring5 4s .16s ease-in-out infinite}.pl__ring6{animation:ring6 4s .2s ease-in-out infinite}@keyframes ring1{from{stroke-dashoffset:-376.237129776;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-94.247778;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-376.237129776;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-94.247778;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-376.237129776;transform:rotate(4.75turn)}}@keyframes ring2{from{stroke-dashoffset:-329.207488554;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-82.46680575;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-329.207488554;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-82.46680575;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-329.207488554;transform:rotate(4.75turn)}}@keyframes ring3{from{stroke-dashoffset:-288.4484661616;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-72.2566298;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-288.4484661616;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-72.2566298;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-288.4484661616;transform:rotate(4.75turn)}}@keyframes ring4{from{stroke-dashoffset:-253.9600625988;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-63.61725015;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-253.9600625988;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-63.61725015;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-253.9600625988;transform:rotate(4.75turn)}}@keyframes ring5{from{stroke-dashoffset:-225.7422778656;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-56.5486668;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-225.7422778656;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-56.5486668;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-225.7422778656;transform:rotate(4.75turn)}}@keyframes ring6{from{stroke-dashoffset:-203.795111962;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-51.05087975;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-203.795111962;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-51.05087975;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-203.795111962;transform:rotate(4.75turn)}}</style><circle class="pl__ring1" cx="64" cy="64" r="60" fill="none" stroke="hsl(3,90%,55%)" stroke-width="8" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="377 377" stroke-dashoffset="-376.4"></circle><circle class="pl__ring2" cx="64" cy="64" r="52.5" fill="none" stroke="hsl(13,90%,55%)" stroke-width="7" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="329.9 329.9" stroke-dashoffset="-329.3"></circle><circle class="pl__ring3" cx="64" cy="64" r="46" fill="none" stroke="hsl(23,90%,55%)" stroke-width="6" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="289 289" stroke-dashoffset="-288.6"></circle><circle class="pl__ring4" cx="64" cy="64" r="40.5" fill="none" stroke="hsl(33,90%,55%)" stroke-width="5" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="254.5 254.5" stroke-dashoffset="-254"></circle><circle class="pl__ring5" cx="64" cy="64" r="36" fill="none" stroke="hsl(43,90%,55%)" stroke-width="4" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="226.2 226.2" stroke-dashoffset="-225.8"></circle><circle class="pl__ring6" cx="64" cy="64" r="32.5" fill="none" stroke="hsl(53,90%,55%)" stroke-width="3" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="204.2 204.2" stroke-dashoffset="-203.9"></circle></svg>');
      width: $a;
      height: $a;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      visibility: visible !important;
    }
  }
  &.theme-light .progress-bar {
    background-color: white;
  }
}
