:root {
  --titlebar-height: 28px !important;
}

.theme-light {
  --text-normal: #222;
  --text-accent: #5793fa !important;
  --text-accent-hover: #a9c9ff;
  --text-muted: #666;
  --interactive-accent: #2e7bffa9;
  --interactive-accent-rgb: 72, 148, 235 !important;
  --interactive-accent-hover: #4894eb;
  --background-primary: #fefefe;
  --background-primary-alt: #f4f4f4;
  --background-modifier-cover: #eeeeeedd;

  --language-title: #4d9ddf;
  --shadow: var(--shadow-inset);
  --hover: inhert;

  --file-item-bg: #d4e4ff;
  --fold-item-bg: #f8df8b;
  --file-item-selected-bg: var(--text-accent);
  --border: 2px solid var(--file-item-bg);
  --error: #ffbbbbab;
  --error-hover: #ffbbbb88;
  --shadow-inset: 0px 0px 3px 0px #666 inset !important;
  --shadow-outset: 0px 0px 10px rgb(0 0 0 / 12%) !important;

  --red-hover: #d86262;
  --blue: #5793fa66;
  --blue-light: var(--text-accent);
  --blue-dark: #daf4ff54;
}

.theme-dark {
  --text-accent: #537cc6 !important;
  --text-accent-hover: #adcbff;
  --background-primary: #21262b;
  --background-primary-alt: #181818;
  --background-secondary: #20282e;
  --background-secondary-alt: #273339;
  --background-modifier-cover: #111111dd !important;
  --text-faint: #aaa;
  --text-normal: #cccccc;
  --text-muted: #9da5a8;
  --interactive-accent: #6d97deb3;
  --interactive-accent-hover: #6eabef6e;

  --language-title: #2e4e68;
  --shadow: none !important;
  --hover: brightness(130%);
  --file-item: #8297bb;
  --fold-item: #ffd152cc;
  --file-item-selected: #aac4f1;
  --file-item-bg: #424c58;
  --fold-item-bg: #d4b15256;
  --file-item-selected-bg: #aac4f166;
  --border: 2px solid var(--file-item-bg);
  --error: #a36363ab;
  --error-hover: #a3636389;
  --shadow-inset: none;
  --shadow-outset: none;
  --red-hover: #e94949;
  --blue: var(--file-item);
  --blue-light: var(--text-accent);
  --blue-dark: var(--file-item-bg);
}

@mixin hover {
  &:hover {
    box-shadow: var(--shadow);
    transition: all 0.2s;
    filter: var(--hover);
  }
}

* {
  text-shadow: none !important;
}

.edit-block-button::before {
  font-family: var(--font-monospace);
}

body .app-container mjx-container,
body .app-container mjx-container * {
  font-style: normal !important;

  mjx-utext {
    font-family: var(--font-text) !important;
  }
}

//输入框
input {
  padding: 6px !important;
  font-size: 0.9rem !important;
  border: var(--border) !important;

  &.document-search-input.mod-no-match,
  &.document-replace-input.mod-no-match {
    background-color: var(--error);

    &::placeholder {
      color: var(--text-normal);
    }

    &:hover,
    &:focus {
      background-color: var(--error-hover);
    }
  }

  &[type='range'] {
    height: 4px !important;
    padding: 0 !important;
    border: none !important;
    background-color: var(--file-item-bg);

    &::-webkit-slider-thumb {
      background: var(--file-item-selected-bg) !important;
      border: var(--border);
      height: 18px;
      width: 18px;
      border-radius: 16px;
      margin-top: -3px;
      transition: all 0.2s linear;
      cursor: default;

      &:hover,
      &:active,
      &:focus {
        filter: var(--hover);
        background-color: var(--blue);
        box-shadow: var(--shadow-outset);
      }
    }
  }
}

//面板
body {
  .workspace {
    background-color: var(--background-secondary-alt);

    .mod-left {
      margin-right: 4px;
    }
    .mod-right {
      margin-left: 4px;
    }

    .side-dock-ribbon {
      background-color: var(--background-primary-alt) !important;

      svg {
        opacity: 0;
        transition: var(--transition);
      }

      &:hover svg {
        opacity: 1;
        transition: var(--transition);
      }
    }

    .workspace-leaf {
      &.mod-active .view-header {
        border-color: var(--file-item-selected-bg) !important;
        box-shadow: var(--shadow-outset);
        background-color: var(--file-item-selected-bg) !important;

        & * {
          color: #eee;
        }
      }

      .view-header {
        margin: {
          top: 4px;
          left: 2px !important;
          right: 2px !important;
        }

        align-items: center;

        &-title {
          font-size: 18px;
          font-weight: normal !important;
        }

        &-title-container::after {
          content: none;
        }

        .view-action {
          padding-top: 2px;
        }
      }

      .view-header,
      .view-content {
        margin-bottom: 3px;
      }

      .workspace-leaf-content {
        &[data-type='empty'],
        &[data-type='markdown'] {
          .view-header {
            border-radius: 8px;
          }

          .view-content {
            border-radius: 8px;
            margin-bottom: 0;
          }
        }
      }

      .workspace-leaf-content .view-header {
        border-radius: 8px;
      }

      .view-content {
        border-radius: 8px;
        margin-bottom: 0;

        .empty-state-title {
          font-weight: var(--font-bold);
          color: var(--text-accent);
        }
      }
    }

    .workspace-leaf-content[data-type='calendar'] {
      .view-content {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

.nav-header {
  box-shadow: var(--shadow-outset);

  padding: {
    top: 8px;
    left: 4px;
    right: 4px;
  }

  margin: {
    bottom: 8px;
  }

  .nav-action-button {
    margin: {
      bottom: 0;
      left: 4px;
      right: 4px;
    }
  }
}

.workspace-tab-header.is-active {
  border-radius: 6px;
  background-color: var(--text-accent);
  color: #fff;

  &:hover {
    color: #ddd;
  }
}

// hr
.workspace-split > .workspace-leaf-resize-handle {
  height: 100% !important;
}

.workspace-leaf-resize-handle {
  background-color: var(--background-secondary-alt);

  &:hover {
    background-color: var(--text-accent);
  }
}

.workspace-tabs {
  .workspace-tab-header-container {
    padding: 5px 10px 0px 10px;
    margin: 6px 0;

    & * {
      transition: none;
    }

    .workspace-tab-header-inner {
      border-radius: 0 !important;
    }

    .workspace-tab-container-before,
    .workspace-tab-container-after {
      display: none;
    }
  }

  .workspace-leaf {
    border-radius: 8px;
    margin-bottom: 3px;
  }
  //全局搜索
  .search-input-container {
    margin: {
      bottom: 8px;
      left: 8px;
      right: 8px;
    }
    .search-input-clear-button:before {
      line-height: 29px;
    }
    &.mod-search-suggestion {
      box-shadow: var(--shadow-outset);
      max-width: 280px;

      .suggestion-item:hover {
        box-shadow: var(--shadow-inset);
        background-color: var(--file-item-bg) !important;
      }
    }
  }
  .search-result-container {
    .tree-item-flair-outer {
      align-items: center;
    }
    .search-result-file-title {
      // margin-right: 4px;
      &:hover {
        background-color: var(--fold-item-bg);
        box-shadow: var(--shadow);
      }
    }
    .search-result-file-match {
      border-radius: 4px;
      width: calc(100% - 8px);
      padding-right: 8px;
      &:hover {
        background-color: var(--file-item-bg);
        box-shadow: var(--shadow);
      }
      .search-result-hover-button {
        transform: translateX(-5px);
      }
    }
  }
}

//=========================================================================

// file

@mixin dark-item-end($color) {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $color;
  border-radius: 5px;
}

.nav-files-container {
  overflow-x: hidden;

  .mod-root > .nav-folder-title {
    display: none;
  }

  //右侧指示线
  .nav-folder-children {
    & :first-child {
      margin-top: -0.1px;
    }

    .nav-folder-children {
      margin-left: 18px;
      padding-left: 0;
      border-radius: 0px;
      transition: all 0.2s ease-in;
      border-left: 2px solid var(--background-secondary-alt);

      &:hover {
        border-left-color: var(--text-accent);
        transition: all 0.2s ease-in;
      }
    }
  }

  //选中高亮
  :not(.is-grabbing) {
    .nav-file-title.is-active {
      color: #fff;
      background-color: var(--file-item-selected-bg) !important;
      position: relative;

      .nav-file-title-content::before {
        background-color: #fff;
      }
    }
  }

  //item
  .nav-file {
    margin-left: 8px;

    .nav-file-title {
      position: relative;
      border-radius: 4px;
      margin-left: 0;
      padding-left: 3px;
      width: calc(100% - 8px);

      &:hover {
        background-color: var(--file-item-bg);
      }

      .nav-file-title-content {
        display: flex;
        padding-left: 22px;
        overflow: auto;
        white-space: pre-wrap;
        word-break: break-word;
      }

      .nav-file-tag {
        font-weight: normal;
        color: var(--file-item-selected-bg) !important;
        border: 1px solid var(--file-item-selected-bg);
        margin-right: 8px;
      }

      &.is-active .nav-file-tag {
        color: var(--folder-file-icon) !important;
      }

      .nav-file-tag + .nav-file-title-content {
        padding-left: 1px;
      }
    }
  }

  .nav-folder {
    .nav-folder-title {
      position: relative;
      padding-left: 22px;
      width: calc(100% - 16px);
      margin-left: 8px;
      padding-left: 21px;
      font-weight: var(--font-bold);
      color: var(--text-normal);

      &:hover {
        background-color: var(--fold-item-bg);
      }

      &.is-being-dragged {
        background-color: var(--fold-item-bg);
        box-shadow: var(--shadow-inset);

        .nav-folder-collapse-indicator {
          color: var(--text-normal);
        }
      }
    }
  }

  .nav-folder-title,
  .nav-file-title {
    line-height: 1.5rem;
    // height: 1.8rem;
    min-width: auto;
    border: 1px;
    padding: 0;
    border-radius: 4px;

    &:hover {
      text-decoration: underline;
      box-shadow: var(--shadow);
    }
  }
}

.theme-dark {
  .nav-file {
    &-title {
      &.is-active {
        &::after {
          @include dark-item-end(var(--file-item-selected));

          &:hover {
            @include dark-item-end(var(--file-item-selected));
          }
        }
      }

      &:hover {
        &::after {
          @include dark-item-end(var(--file-item));
        }
      }
    }
  }

  .nav-folder {
    &-title {
      &:hover {
        &::after {
          @include dark-item-end(var(--fold-item));
        }
      }
    }
  }
}

//=========================================================================
//大纲

.workspace-leaf-content[data-type='outline'] .view-content {
  &:hover {
    overflow-y: auto !important;
  }

  .tree-item-self {
    .tree-item-flair-outer {
      margin-right: 12px;
    }

    &.is-clickable {
      position: relative;
      padding-left: 24px;
    }

    .collapse-icon {
      position: absolute;
      left: 20px;
    }

    &:hover {
      background-color: var(--fold-item-bg);
      text-decoration: underline;
      box-shadow: var(--shadow-inset);

      &::after {
        @include dark-item-end(var(--fold-item));
      }
    }
  }

  .tree-item-children {
    margin-left: 16px;
  }

  .tree-item-inner {
    overflow: auto;
    white-space: pre-wrap;
    position: relative;
  }

  .tree-item-icon:after {
    content: none;
  }
}

// .theme-light .outline .tree-item>.tree-item-self:hover {}

// .theme-dark .outline .tree-item>.tree-item-self:hover {
//   background-color: var(--fold-item-bg);
//   text-decoration: underline;

// }

//反向链接

.backlink-pane {
  .search-result-file-matches {
    margin: 0 auto;

    .search-result-file-match {
      margin: 5px 0;
      border: var(--border);
      border-radius: 6px;

      .search-result-file-match-replace-button {
        display: none !important;
      }
    }
  }

  .tree-item-self {
    margin: {
      left: 6px;
      right: 6px;
    }

    padding: {
      top: 4px;
      bottom: 4px;
    }

    border-radius: 4px;
    position: relative;

    &:hover {
      background-color: var(--fold-item-bg);
      box-shadow: var(--shadow);
    }

    &:hover::after {
      @include dark-item-end(var(--fold-item-bg));
    }
  }
}

//=========================================================================
//文档内搜索

.view-content {
  .is-searching,
  .is-replacing {
    position: relative;
  }
}

.document-search-container {
  position: absolute !important;
  top: 15px !important;
  right: 25px;
  border-radius: 5px;
  padding: 0;
  height: fit-content !important;
  border: 2px solid var(--file-item);
  box-shadow: var(--shadow-outset);

  button {
    border: 1px solid var(--file-item-selected-bg);
    overflow: hidden;
    line-height: 26px;

    &:hover {
      background-color: var(--file-item-bg);
    }
  }

  .document-replace {
    height: 36px;
    padding-right: 2px;
  }

  .document-search {
    align-items: center;

    button:nth-child(3) {
      display: none;
    }
  }

  .document-search-buttons {
    display: flex;

    .document-search-close-button {
      margin-right: 8px;
      height: 26px;
      width: 26px;
      border-radius: 6px;
      padding: 6px;
      display: inline-block;
      position: relative;
      line-height: 1rem;

      &::before {
        position: absolute;
        transform: translateY(-2px);
      }

      &:hover {
        background-color: var(--fold-item-bg);
      }
    }
  }
}

.theme-light {
  button,
  .document-search-close-button {
    &:hover {
      box-shadow: var(--shadow-inset);
    }
  }
}

//==========================================================
//应用标题栏
.titlebar {
  background: var(--background-secondary);
  height: var(--titlebar-height) !important;
  box-sizing: border-box;
  border-bottom: 2px solid var(--background-secondary-alt);

  .titlebar-text {
    font: {
      weight: var(--font-bold);
      size: 0.8rem;
    }

    color: var(--text-normal) !important;
    line-height: var(--titlebar-height);
  }

  .titlebar-button-container {
    color: var(--text-normal) !important;

    &.mod-right {
      transform: translateY(1px);
    }

    & > div {
      margin: 4px;
      border-radius: 4px;
      padding: 3px 10px;
      padding-top: 1px;
      line-height: calc(var(--titlebar-height) - 10px);

      &.mod-back,
      &.mod-forward,
      &.mod-close {
        &:hover {
          background-color: var(--red-hover);
          color: #fff;
        }
      }

      &.mod-minimize,
      &.mod-maximize {
        &:hover {
          background-color: var(--interactive-accent-hover);
          color: #fff;
        }
      }
    }
  }
}

.app-container {
  padding-top: calc(var(--titlebar-height) - 24px);
}

//菜单

.menu {
  padding: 8px 4px;

  @at-root .theme-dark .menu {
    border: var(--border);
  }

  border-radius: 8px;

  .menu-item {
    border-radius: 4px;
    position: relative;
    padding-left: 8px;

    .menu-item-icon {
      width: 24px;
    }

    .menu-item-title {
      font-size: 0.8rem;
    }

    &.selected {
      background-color: var(--file-item-selected-bg) !important;
      box-shadow: var(--shadow);
      color: #fff;

      svg {
        background-color: #fff;
      }
    }

    &.is-disabled {
      opacity: 0.4;
      background-color: unset !important;
      color: unset !important;

      svg {
        background-color: unset;
      }
    }
  }

  .menu-separator {
    border-color: var(--text-normal);
    width: calc(100% - 8px);
    margin-left: 4px;
  }
}

.theme-dark {
  .menu-item.selected::after {
    @include dark-item-end(var(--file-item));
  }
}

//===================================================
//状态栏
.status-bar {
  border-top: 2px solid var(--background-secondary-alt);
}

//===================================================
//滚动条

* ::-webkit-scrollbar-thumb {
  background-clip: padding-box !important;
  background-color: var(--blue) !important;
  transition: var(--transition) !important;
  border: 3px transparent solid !important;

  &:hover {
    border-width: 1px !important;
    background-color: var(--blue-light) !important;
    transition: var(--transition) !important;
  }
}

.theme-light {
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border: 1px solid #ddd;
  }
}

* ::-webkit-scrollbar-track {
  background-color: var(--blue-dark) !important;
  border-radius: 12px;
}

.workspace-leaf-content {
  padding-bottom: 2px;

  img:not([width]):active,
  audio,
  video {
    width: 100%;
  }
}

.workspace-leaf-content[data-mode='preview'] .view-content,
.cm-editor {
  padding: 2px 0;
  // background-color: #e1faff28;
}

// .markdown-preview-view {
//   padding: 16px !important;

//   .markdown-preview-section {
//     max-width: 750px !important;
//   }
// }

//====================================================
// 弹出面板
.modal-container {
  //按钮svg
  .setting-hotkey-icon.setting-delete-hotkey {
    transform: translateY(30%);
    height: 18px;
    width: 18px;
  }

  .modal-bg {
    background-color: var(--background-modifier-cover);
  }

  .modal,
  .prompt,
  .suggestion-container {
    box-shadow: var(--shadow-outset);
    border-radius: 10px;
  }

  .modal {
    border: none;
    background: var(--background-primary);

    .modal-content {
      .vertical-tab-header {
        background-color: var(--background-secondary);

        .vertical-tab-nav-item {
          background-color: var(--background-secondary);
        }
      }

      .vertical-tab-content {
        background-color: var(--background-primary);
      }

      .vertical-tab-nav-item {
        border: none;
        border-radius: 4px;
        position: relative;

        padding: {
          top: 6px;
          bottom: 6px;
        }

        margin: {
          left: 5px;
          right: 8px;
          top: 2px;
          bottom: 2px;
        }

        &.is-active {
          background-color: var(--file-item-selected-bg);
          color: #eee;
        }

        &:not(.is-active):hover {
          text-decoration: underline;
          background-color: var(--file-item-bg);
        }

        &:hover,
        &.is-active {
          box-shadow: var(--shadow);
        }

        &:hover::after {
          @include dark-item-end(var(--file-item));
        }

        &.is-active::after {
          @include dark-item-end(var(--file-item-selected));
        }
      }

      .community-plugin-search {
        .setting-item-info {
          display: none;
        }

        .search-input-container {
          width: 70%;
        }
      }
    }
  }

  .prompt {
    @at-root .theme-dark .prompt {
      border: var(--border);
    }

    input {
      border: none !important;
      padding: 0 !important;
      padding-left: 5px !important;
      margin: 10px;
      margin-bottom: 15px;
      font-size: 1.1rem !important;
      height: fit-content;
      background-color: var(--background-primary);
    }

    .prompt-results {
      padding-top: 0;

      .suggestion-item {
        border-radius: 4px;
        position: relative;
        margin-right: 10px;
        padding: 8px 20px;
        color: var(--text-faint);

        .suggestion-flair {
          left: 2px;
          top: 9px;
        }

        .suggestion-highlight {
          color: var(--text-normal);
        }

        &.is-selected {
          background-color: var(--file-item-bg) !important;
          box-shadow: var(--shadow);
          color: var(--text-normal);

          kbd {
            color: var(--text-normal);
          }
        }
      }
    }

    .prompt-instruction {
      font-size: 1rem;
    }
  }

  .community-plugin-search-results {
    .community-plugin-item {
      border-radius: 6px;
      margin: 6px;
    }
  }
}

.theme-dark {
  .prompt .suggestion-item.is-selected::after {
    @include dark-item-end(var(--file-item));
  }
}

//关系图谱
.graph-controls {
  .graph-color-button-container button {
    width: 100%;
  }

  .graph-controls-button.mod-close {
    top: 6px;
  }
}

//全局搜索提示框+标题(命令：小标题)
body .suggestion-container {
  border-radius: 8px;
  padding: 0 !important;

  .suggestion .suggestion-item {
    border-radius: 4px;
    margin: 4px;

    //搜索框标题
    &.mod-group {
      padding-right: 0;
    }

    &.is-selected:not(.mod-group) {
      background-color: var(--file-item-bg);

      &:not(.mod-group) {
        box-shadow: var(--shadow);
      }
    }
  }
}
