/* excalidraw */

.excalidraw .context-menu {
  border: none;
}

.excalidraw .context-menu-option .context-menu-option__shortcut {
  color: #000 !important;
}

.excalidraw-svg img {
  box-shadow: none;
}


/* advanced table */

.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-buttons-container {
  display: flex;
  border: 0 !important;
  margin: 0 30px;
}

.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-action-button {
  flex: 1;
  max-width: 50px;
  height: 30px;
  line-height: 30px;
  margin: 0 4px;
}


/* git */

.git-view-body>div {
  padding: 5px 0;
  font-weight: bold;
}

.git-view-body .file-view main {
  margin-top: 10px;
  margin-bottom: 10px;
}

.commit-msg.svelte-1f0ksxd.svelte-1f0ksxd {
  height: 2.2rem !important;
}

.opener.svelte-1f0ksxd.svelte-1f0ksxd {
  padding: 3px 10px 3px 20px !important;
}

.file-view.svelte-1f0ksxd>main {
  padding: 3px 5px;
}


/* kanban */

.kanban-plugin__item-prefix-button-wrapper,
.kanban-plugin__item-postfix-button-wrapper {
  justify-content: center;
}

.kanban-plugin__item {
  position: relative;
  border: none;
}

.kanban-plugin__item-postfix-button-wrapper {
  align-items: center;
}

.kanban-plugin__lane-header-wrapper p {
  font-weight: bold;
}

button.kanban-plugin__item-postfix-button.is-enabled,
.kanban-plugin__item:hover button.kanban-plugin__item-postfix-button {
  align-self: unset;
}

.theme-light button.kanban-plugin__item-postfix-button.is-enabled:hover,
.theme-light .kanban-plugin__item:hover button.kanban-plugin__item-postfix-button:hover {
  background-color: #eee;
}

.theme-light .kanban-plugin__lane {
  background: #ececec !important;
  border: 2px solid #ddd;
}

.theme-light .kanban-plugin__lane-settings-button:hover {
  background-color: #fff !important;
}

.theme-light .kanban-plugin__item-content-wrapper {
  border: 2px solid #ededed;
  border-radius: 8px;
}

.theme-dark button.kanban-plugin__item-postfix-button.is-enabled:hover,
.theme-dark .kanban-plugin__item:hover button.kanban-plugin__item-postfix-button:hover {
  background-color: #111;
}

.theme-dark .kanban-plugin__lane-settings-button:hover {
  background-color: #333 !important;
}

.theme-dark .kanban-plugin__lane-wrapper {
  border: 2px solid #444;
  border-radius: 8px;
}

.theme-dark .kanban-plugin__item-title-wrapper {
  background-color: #28323e;
}


/* calendar */

#calendar-container {
  padding-top: 0;
}

#calendar-container .title {
  margin: 0 !important;
}

#calendar-container .title:hover::before {
  content: none !important;
}

#calendar-container .reset-button,
#calendar-container th.svelte-pcimu8 {
  font-size: 0.8em;
}

#calendar-container .day {
  line-height: 1.4;
}

#calendar-container .day:not(.today):hover,
#calendar-container .day.active {
  box-shadow: 1px 1px 1px 0px #777 inset !important;
}

#calendar-container .today {
  background-color: #a9c9ffa2 !important;
  color: #eee !important;
}

.workspace-leaf-content[data-type='calendar'] .view-content {
  padding-top: 0;
}


/* quick explorer */


/* 文件列表 */

#quick-explorer {
  display: flex !important;
  height: 70%;
  align-items: center;
  border-radius: 4px;
  margin-left: 20px;
}

#quick-explorer span {
  padding: 4px 0 !important;
  padding-left: 2px !important;
  margin: 0 !important;
}

#quick-explorer span.selected {
  font-weight: 700 !important;
}

.theme-light #quick-explorer span[data-file-path$=".md"] {
  color: #6991d6;
  padding-right: 2px !important;
}

.theme-dark #quick-explorer span[data-file-path$=".md"] {
  color: #a9c9ff;
  opacity: 1;
  padding-right: 2px !important;
}

#quick-explorer span[data-file-path$=".md"].selected,
#quick-explorer span[data-file-path$=".md"]:hover {
  color: #eee;
}

.theme-dark .qe-popup-menu .nav-file-tag {
  color: #6cd8ff !important;
  border-color: #6cd8ff !important;
}

.qe-popup-menu .selected .nav-file-tag {
  color: #fff !important;
  border-color: #fff !important;
}

.menu-separator {
  border-width: 2px;
}

.theme-dark .is-qe-file.selected::after,
.theme-dark .is-qe-folder.selected::after {
  right: 0 !important;
}

.theme-dark #quick-explorer .titlebar-button::after {
  content: none;
}

#quick-explorer .explorable.selected,
#quick-explorer .explorable:hover,
.theme-dark .qe-popup-menu .menu-item:not(.is-disabled):not(.is-label).selected {
  background-color: #748aae !important;
}


/* day planner */

.theme-light {
  --day-planner-pie: #eee;
  --day-planner-timeline: #111;
  --day-planner-line: #eee;
  --day-planner-dot: #eee;
  --day-planner-item-hover: #345e96;
  --event-item-color1: #283493bb;
  --event-item-color2: #1565c0bb;
  --event-item-color3: #00838fbb;
  --event-item-color4: #2e7d32bb;
  --event-item-color5: #9e9d24bb;
  --event-item-color6: #ff8f00bb;
  --event-item-color7: #d84315bb;
  --event-item-color8: #c62828bb;
  --event-item-color9: #ad1457bb;
  --event-item-color10: #6a1b9abb;
}

.theme-dark {
  --day-planner-pie: #eca95c;
  --day-planner-timeline: #d62f2f;
  --day-planner-line: #ffd900;
  --day-planner-dot: #ffd900;
  --day-planner-item-hover: #8fccffbb;
  --event-item-color1: #65ace6bb;
  --event-item-color2: #52a4e7bb;
  --event-item-color3: #2e96ebbb;
  --event-item-color4: #2786dabb;
  --event-item-color5: #1275ccbb;
  --event-item-color6: #2664c0bb;
  --event-item-color7: #1652acbb;
  --event-item-color8: #0c469cbb;
  --event-item-color9: #0a3c86bb;
  --event-item-color10: #072f6bbb;
}

.plugin-obsidian-day-planner {
  padding-top: 0 !important;
}

.day-planner-progress-bar {
  margin-top: 0 !important;
}

.status-bar-item-segment.day-planner-status-bar-text {
  font-size: 0.9rem !important;
}

input[type='checkbox']:checked {
  background-image: none !important;
}

#scroll-controls.svelte-e43ld1 label.svelte-e43ld1 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.status-bar-item>* {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.progress-pie.day-planner {
  background-color: var(--day-planner-pie);
  float: left;
  height: 20px;
  margin: 0.3px 10px 0.3px 0;
  width: 20px;
  display: none;
}

.aside__line {
  background: var(--day-planner-dot) !important;
  left: 35px !important;
}

.ei_Dot {
  background-color: var(--day-planner-line) !important;
  left: 28px !important;
}

.ei_Title {
  font-size: 15px !important;
  margin-left: -10px !important;
}

.ei_Copy {
  font-size: 15px !important;
  margin-left: 5px !important;
}

.event_item {
  overflow: hidden !important;
}

#now-line,
.timeline-time {
  background-color: var(--day-planner-timeline) !important;
}

.event_item:hover {
  background-color: var(--day-planner-item-hover) !important;
  box-shadow: 0px 0px 52px -18px #000000bf;
}

.event_item_color1 {
  background-color: var(--event-item-color1) !important;
}

.event_item_color2 {
  background-color: var(--event-item-color2) !important;
}

.event_item_color3 {
  background-color: var(--event-item-color3) !important;
}

.event_item_color4 {
  background-color: var(--event-item-color4) !important;
}

.event_item_color5 {
  background-color: var(--event-item-color5) !important;
}

.event_item_color6 {
  background-color: var(--event-item-color6) !important;
}

.event_item_color7 {
  background-color: var(--event-item-color7) !important;
}

.event_item_color8 {
  background-color: var(--event-item-color8) !important;
}

.event_item_color9 {
  background-color: var(--event-item-color9) !important;
}

.event_item_color10 {
  background-color: var(--event-item-color10) !important;
}

.day-planner-status-bar-text {
  margin-top: 0px !important;
}