/* excalidraw */

.excalidraw .context-menu {
  border: none;
}

.excalidraw .context-menu-option .context-menu-option__shortcut {
  color: #000 !important;
}


/* advanced table */

.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-buttons-container {
  display: flex;
  border: 0 !important;
  margin: 0 30px;
}

.workspace-leaf-content[data-type='advanced-tables-toolbar'] .nav-action-button {
  flex: 1;
  max-width: 50px;
  height: 30px;
  line-height: 30px;
  margin: 0 4px;
}


/* git */

.git-view-body>div {
  padding: 5px 0;
  font-weight: bold;
}

.git-view-body .file-view main {
  margin-top: 10px;
  margin-bottom: 10px;
}

.commit-msg.svelte-1f0ksxd.svelte-1f0ksxd {
  height: 2.2rem !important;
}

.opener.svelte-1f0ksxd.svelte-1f0ksxd {
  padding: 3px 10px 3px 20px !important;
}

.file-view.svelte-1f0ksxd>main {
  padding: 3px 5px;
}


/* kanban */

.kanban-plugin__item-prefix-button-wrapper,
.kanban-plugin__item-postfix-button-wrapper {
  justify-content: center;
}

.kanban-plugin__item {
  position: relative;
}

.kanban-plugin__item-postfix-button-wrapper {
  align-items: center;
}

.kanban-plugin__lane-header-wrapper p {
  font-weight: bold;
}

button.kanban-plugin__item-postfix-button.is-enabled,
.kanban-plugin__item:hover button.kanban-plugin__item-postfix-button {
  align-self: unset;
}

.theme-light button.kanban-plugin__item-postfix-button.is-enabled:hover,
.theme-light .kanban-plugin__item:hover button.kanban-plugin__item-postfix-button:hover {
  background-color: #eee;
}

.theme-light .kanban-plugin__lane-settings-button:hover {
  background-color: #fff !important;
}

.theme-dark button.kanban-plugin__item-postfix-button.is-enabled:hover,
.theme-dark .kanban-plugin__item:hover button.kanban-plugin__item-postfix-button:hover {
  background-color: #111;
}

.theme-dark .kanban-plugin__lane-settings-button:hover {
  background-color: #333 !important;
}

.theme-dark .kanban-plugin__lane-wrapper {
  border: 2px solid #444;
  border-radius: 8px;
}

.theme-dark .kanban-plugin__item-title-wrapper {
  background-color: #28323e;
}


/* calendar */

#calendar-container {
  padding-top: 0;
}

#calendar-container .title {
  margin: 0 !important;
}

#calendar-container .title:hover::before {
  content: none !important;
}

#calendar-container .reset-button,
#calendar-container th.svelte-pcimu8 {
  font-size: 0.8em;
}

#calendar-container .day {
  line-height: 1.4;
}

#calendar-container .day:not(.today):hover,
#calendar-container .day.active {
  box-shadow: 1px 1px 1px 0px #777 inset !important;
}

#calendar-container .today {
  background-color: #a9c9ffa2 !important;
  color: #eee !important;
}

.workspace-leaf-content[data-type='calendar'] .view-content {
  padding-top: 0;
}


/* quick explorer */


/* 文件列表 */

#quick-explorer {
  display: flex !important;
  height: 70%;
  align-items: center;
  border-radius: 4px;
  margin-left: 20px;
}

#quick-explorer span {
  padding: 4px 0 !important;
  padding-left: 2px !important;
  margin: 0 !important;
}

#quick-explorer span.selected {
  font-weight: 700 !important;
}

.theme-light #quick-explorer span[data-file-path$=".md"] {
  color: #6991d6;
  padding-right: 2px !important;
}

.theme-dark #quick-explorer span[data-file-path$=".md"] {
  color: #a9c9ff;
  opacity: 1;
  padding-right: 2px !important;
}

#quick-explorer span[data-file-path$=".md"].selected,
#quick-explorer span[data-file-path$=".md"]:hover {
  color: #eee;
}

.theme-dark .qe-popup-menu .nav-file-tag {
  color: #6cd8ff !important;
  border-color: #6cd8ff !important;
}

.qe-popup-menu .selected .nav-file-tag {
  color: #fff !important;
  border-color: #fff !important;
}

.menu-separator {
  border-width: 2px;
}

.theme-dark .is-qe-file.selected::after,
.theme-dark .is-qe-folder.selected::after {
  right: 0 !important;
}

.theme-dark #quick-explorer .titlebar-button::after {
  content: none;
}

#quick-explorer .explorable.selected,
#quick-explorer .explorable:hover,
.theme-dark .qe-popup-menu .menu-item:not(.is-disabled):not(.is-label).selected {
  background-color: #748aae !important;
}